<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="Cache-control" content="public" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Coffee" />
    <meta name="theme-color" content="#272727" />
    <link rel="apple-touch-icon" href="/src/images/blue-logo.jpg" />
    <link rel="icon" href="/src/images/blue-logo.jpg" />
    <link rel="stylesheet" href="/src/styles/common.css" />
    <link rel="stylesheet" href="/src/styles/article-detail.css" />
    <title>Coffee Brand</title>
  </head>
  <body>
    <main class="screen">
      <nav class="top-nav">
        <div class="top-nav-container">
          <div class="logo-wrapper">
            <a href="/view/index.html">
              <img src="/src/images/blue-logo.jpg" />
            </a>
          </div>
          <div class="menu-wrapper">
            <div class="hamburger-menu">☰</div>
            <div class="search-bar-wrapper">
              <div class="search-box">
                <form>
                  <select class="select-search">
                    <option value="all-category">All Category</option>
                    <option value="kopi">Kopi</option>
                    <option value="mesin-kopi">Mesin Kopi</option>
                  </select>
                  <input class="input-search" type="text" value="" placeholder="search..."></input>
                  <button class="submit-search" type="submit">
                    <img src="/src/images/search-icon.png" alt="srch" />
                  </button>
                </form>
              </div>
            </div>
            <ul class="menu-list">
              <li class="menu-item">
                <a href="/view/index.html">Beranda</a>
              </li>
              <li class="menu-item">
                <a href="/view/about-us.html">Tentang Kami</a>
              </li>
              <li class="menu-item">
                <a href="/view/contact.html">Kontak</a>
              </li>
              <li class="menu-item">
                <a href="/view/shipping.html">Pengiriman</a>
              </li>
              <li class="menu-item active">
                <a href="/view/article.html">Artikel</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="container-coffee">
        <div class="page-title-wrapper">
          <div class="page-title">Artikel</div>
        </div>

        <div class="article-row">
          <div class="article-detail">
            <div class="article-img">
              <img src="/src/images/coffee-news.jpg" alt=" " />
            </div>
            <div class="article-content">
              <div class="article-title">
                Lorem Ipsum Article Title 1 Lorem Ipsum Lorem Ipsum Lorem Ipsum 
              </div>
              <div class="article-body">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
                optio, eaque rerum! Provident similique accusantium nemo autem. Veritatis
                obcaecati tenetur iure eius earum ut molestias architecto voluptate aliquam
                nihil, eveniet aliquid culpa officia aut! Impedit sit sunt quaerat, odit,
                tenetur error, harum nesciunt ipsum debitis quas aliquid. Reprehenderit,
                quia. Quo neque error repudiandae fuga? Ipsa laudantium molestias eos 
                sapiente officiis modi at sunt excepturi expedita sint? Sed quibusdam
                recusandae alias error harum maxime adipisci amet laborum. Perspiciatis 
              </div>
            </div>
          </div>
  
          <div class="article-list">
            <div class="article-list-title">Artikel Lainnya</div>
            <a href="/view/article-detail.html" class="article-card-preview">
              <div class="article-img">
                <img src="/src/images/coffee-news.jpg" alt=" " />
              </div>
              <div class="article-content">
                <div class="article-title">
                  ULKA Mesin Pompa Kopi Italia 2 Cup
                </div>
                <div class="article-body-preview">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Maxime mollitiae adipisci amet laborum. Perspiciatis...
                </div>
              </div>
            </a>
            <a href="/view/article-detail.html" class="article-card-preview">
              <div class="article-img">
                <img src="/src/images/coffee-news.jpg" alt=" " />
              </div>
              <div class="article-content">
                <div class="article-title">
                  ULKA Mesin Pompa Kopi Italia 3 Cup
                </div>
                <div class="article-body-preview">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Maxime mollitiae adipisci amet laborum. Perspiciatis...
                </div>
              </div>
            </a>
            <a href="/view/article-detail.html" class="article-card-preview">
              <div class="article-img">
                <img src="/src/images/coffee-news.jpg" alt=" " />
              </div>
              <div class="article-content">
                <div class="article-title">
                  ULKA Mesin Pompa Kopi Italia 4 Cup
                </div>
                <div class="article-body-preview">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Maxime mollitiae adipisci amet laborum. Perspiciatis...
                </div>
              </div>
            </a>
          </div>
        </div>
        
      </div>

      <nav class="bottom-nav">
        <a href="#" class="nav-item" id="index-page">
          <div class="img-wrapper">
            <img src="/src/images/home.png" alt="beranda" />
          </div>
          <div class="title">Beranda</div>
        </a>
        <a href="#" class="nav-item" id="coffee-page">
          <div class="img-wrapper">
            <img
              src="/src/images/coffee-pack.png"
              alt="beranda"
              style="opacity: 0.6"
            />
          </div>
          <div class="title">Kopi</div>
        </a>
        <a href="#" class="nav-item" id="coffee-machine-page">
          <div class="img-wrapper">
            <img src="/src/images/coffee-machine.png" alt="beranda" />
          </div>
          <div class="title">Mesin Kopi</div>
        </a>
      </nav>
    </main>
    <div id="side-drawer">
      <div class="drawer-left">
        <div class="drawer-logo">
          <img src="/src/images/blue-logo.jpg" alt="logo" />
        </div>
        <div class="menu-list">
          <a class="menu-item" href="/view/about-us.html">Tentang Kami</a>
          <a class="menu-item" href="/view/contact.html">Kontak</a>
          <a class="menu-item" href="/view/shipping.html">Pengiriman</a>
          <a class="menu-item active" href="/view/article.html">Artikel</a>
        </div>
      </div>
      <div class="drawer-right">a</div>
    </div>
    <div class="footer-svg-wrapper">
      <svg id="visual" viewBox="0 0 900 600" width="900" height="600" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
        <path d="M0 487L25 486.7C50 486.3 100 485.7 150 484.5C200 483.3 250 481.7 300 482C350 482.3 400 484.7 450 484.8C500 485 550 483 600
          485C650 487 700 493 750 489.2C800 485.3 850 471.7 875 464.8L900 458L900 601L875 601C850 601 800 601 750 601C700 601 650 601 600 
          601C550 601 500 601 450 601C400 601 350 601 300 601C250 601 200 601 150 601C100 601 50 601 25 601L0 601Z" fill="#848484"></path>
        <path d="M0 499L25 501.8C50 504.7 100 510.3 150 513.8C200 517.3 250 518.7 300 515.3C350 512 400 504 450 500.2C500 496.3 550 496.7 
          600 503.3C650 510 700 523 750 529.5C800 536 850 536 875 536L900 536L900 601L875 601C850 601 800 601 750 601C700 601 650 601 600
          601C550 601 500 601 450 601C400 601 350 601 300 601C250 601 200 601 150 601C100 601 50 601 25 601L0 601Z" fill="#5f6363"></path>
        <path d="M0 567L25 566C50 565 100 563 150 559C200 555 250 549 300 549.2C350 549.3 400 555.7 450 559.3C500 563 550 564 600 561.5C650
          559 700 553 750 548.5C800 544 850 541 875 539.5L900 538L900 601L875 601C850 601 800 601 750 601C700 601 650 601 600 601C550 601
          500 601 450 601C400 601 350 601 300 601C250 601 200 601 150 601C100 601 50 601 25 601L0 601Z" fill="#3d4444"></path></svg>
    </div>
    <footer tabindex="0">
      <div class="footer-content container-coffee">
        <div class="footer-section">
          <div class="footer-title">PT KTI</div>
          <div class="footer-content-text">
            Talavera Office Park Lantai 28, Jl. TB Simatupang Kav. 22-23, RT1/RW 1,
            Cilandak, Jakarta Selatan, Daerah Istimewa Ibukota Jakarta 12430
          </div>
        </div>
        <div class="footer-section">
          <div class="footer-title">Pengiriman</div>
          <div class="footer-content-text icon-grid">
            <img src="/src/images/footer/jne.png" alt="jne" />
            <img src="/src/images/footer/jnt.png" alt="jnt" />
            <img src="/src/images/footer/grab-express.png" alt="grab" />
            <img src="/src/images/footer/gosend.png" alt="gosend" />
            <img src="/src/images/footer/pos-indonesia.png" alt="pos" />
          </div>
        </div>
        <div class="footer-section">
          <div class="footer-title">Pembayaran</div>
          <div class="footer-content-text icon-grid">
            <img src="/src/images/footer/bca.png" alt="bca" />
            <img src="/src/images/footer/bni.png" alt="bni" />
            <img src="/src/images/footer/bri.png" alt="bri" />
            <img src="/src/images/footer/mandiri.png" alt="mandiri" />
          </div>
        </div>
        <div class="footer-section">
          <div class="footer-title">Contact us</div>
          <div>
            <div class="footer-content-text sub-bold">
              <span class="bold">Telp:</span>
              <span>+62 8131-0931-008</span>
            </div>
            <div class="footer-content-text sub-bold">
              <span class="bold">Email:</span>
              <span>info@ptkti.id</span>
            </div>
            <div class="footer-content-text sub-bold working-hour">
              <span class="bold">Jam Pelayanan:</span>
              <div>Senin - Jumat</div>
              <div>(08.00 - 18.00 WIB)</div>
            </div>
            <div class="footer-content-text sub-bold">
              <span class="bold">Sosial Media</span>
              <div class="social-media-kti">
                <a href="#">
                  <img src="/src/images/footer/instagram.png" alt=" " />
                </a>
                <a href="#">
                  <img src="/src/images/footer/facebook.png" alt=" " />
                </a>
                <a href="#">
                  <img src="/src/images/footer/twitter.png" alt=" " />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="copyright">
        <div class="container-coffee">
          <div>
            © <span class="year"></span> Kleijn Trading Indonesia. All rights reserved.
          </div>
        </div>
      </div>
    </footer>
    <script type="text/javascript" src="/src/scripts/scripts.js"></script>
  </body>
</html>
