<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="Cache-control" content="public" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Coffee" />
    <meta name="theme-color" content="#272727" />
    <link rel="apple-touch-icon" href="/src/images/blue-logo.jpg" />
    <link rel="icon" href="/src/images/blue-logo.jpg" />
    <link rel="stylesheet" href="/src/styles/common.css" />
    <link rel="stylesheet" href="/src/styles/coffee-machine.css" />
    <title>Coffee Brand</title>
  </head>
  <body>
    <main class="screen">
      <nav class="top-nav">
        <div class="top-nav-container">
          <div class="logo-wrapper">
            <a href="/view/index.html">
              <img src="/src/images/blue-logo.jpg" />
            </a>
          </div>
          <div class="menu-wrapper">
            <div class="hamburger-menu">☰</div>
            <div class="search-bar-wrapper">
              <div class="search-box">
                <form>
                  <select class="select-search">
                    <option value="all-category">All Category</option>
                    <option value="kopi">Kopi</option>
                    <option value="mesin-kopi">Mesin Kopi</option>
                  </select>
                  <input class="input-search" type="text" value="" placeholder="search..."></input>
                  <button class="submit-search" type="submit">
                    <img src="/src/images/search-icon.png" alt="srch" />
                  </button>
                </form>
              </div>
            </div>
            <ul class="menu-list">
              <li class="menu-item">
                <a href="/view/index.html">Beranda</a>
              </li>
              <li class="menu-item">
                <a href="/view/about-us.html">Tentang Kami</a>
              </li>
              <li class="menu-item">
                <a href="/view/contact.html">Kontak</a>
              </li>
              <li class="menu-item">
                <a href="/view/shipping.html">Pengiriman</a>
              </li>
              <li class="menu-item">
                <a href="/view/article.html">Artikel</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="container-coffee">
        <div class="page-title">Kopi</div>
        <div class="product-list">

          <div class="product-card-mobile">
            <div class="img-wrapper" onclick="openModalImage({
              name: 'Creatista Plus',
              image_list: [
                '/src/images/coffee-page/product-coffee-1.png',
                '/src/images/coffee-page/product-coffee-2.png',
                '/src/images/coffee-page/product-coffee-3.png',
                '/src/images/coffee-page/product-coffee-4.png',
                '/src/images/coffee-page/product-coffee-5.png',
              ]
            })">
              <!-- discount -->
              <div class="discount-tag">
                <div class="discount-percentage">10%</div>
                <div class="discount-text">OFF</div>
              </div>
              <img
                src="/src/images/coffee-page/product-coffee-1.png"
                alt="product"
              />
            </div>
            <div class="product-detail">
              <div class="detail-wrapper">
                <div class="product-name">Creatista Plus</div>
                <div class="product-price">Rp 4.000.000</div>
                <div class="product-description">
                  Enjoy barista-style quality coffee recipes with the Creatista
                  Plus coffee machine. Create unique latte art and a broad range
                  of delightful milk-based recipes.
                </div>
              </div>
              <div
                class="button mobile-only"
                onclick="openModalProductMobile({
                img: [
                  '/src/images/coffee-page/product-coffee-1.png',
                  '/src/images/coffee-page/product-coffee-2.png',
                  '/src/images/coffee-page/product-coffee-3.png',
                  '/src/images/coffee-page/product-coffee-4.png',
                  '/src/images/coffee-page/product-coffee-5.png',
                ],
                name: 'Creatista Plus',
                price: 'Rp 3.600.000',
                before_discount_price: 'Rp 4.200.000',
                discount_percentage: '10%',
                description: 'Enjoy barista-style quality coffee recipes with the Creatista Plus coffee machine. Create unique latte art and a broad range of delightful milk-based recipes.',
                marketplaces: [
                  {
                    name: 'Tokopedia',
                    link: 'https://www.tokopedia.com/ourgrocery/wafer-beng-beng-coklat-1-box-isi-20pcs',
                    button_color: '#03AC0E',
                    font_color: '#FFFFFF',
                  },
                  {
                    name: 'Shopee',
                    link: 'https://shopee.co.id/events3/code/1409859301/',
                    button_color: '#F94D2F',
                    font_color: '#FFFFFF',
                  },
                ]
              })"
              >
                Detail
              </div>
              <div class="marketplace-button">
                <a
                  href="https://www.tokopedia.com"
                  class="button"
                  style="background-color: #03ac0e; color: #ffffff"
                  target="_blank"
                >
                  Tokopedia
                </a>
                <a
                  href="https://shopee.co.id"
                  class="button"
                  style="background-color: #f94d2f; color: #ffffff"
                  target="_blank"
                >
                  Shopee
                </a>
              </div>
            </div>
          </div>

          <div class="product-card-mobile">
            <div class="img-wrapper" onclick="openModalImage({
              name: 'Gran Lattissima',
              image_list: [
                '/src/images/coffee-page/product-coffee-2.png',
                '/src/images/coffee-page/product-coffee-1.png',
                '/src/images/coffee-page/product-coffee-3.png',
                '/src/images/coffee-page/product-coffee-4.png',
                '/src/images/coffee-page/product-coffee-5.png',
              ]
            })">
              <!-- discount -->
              <div class="discount-tag">
                <div class="discount-percentage">20%</div>
                <div class="discount-text">OFF</div>
              </div>
              <img
                src="/src/images/coffee-page/product-coffee-2.png"
                alt="product"
              />
            </div>
            <div class="product-detail">
              <div class="detail-wrapper">
                <div class="product-name">Gran Lattissima</div>
                <div class="product-price">Rp 4.200.000</div>
                <div class="product-description">
                  Enjoy barista-style quality coffee recipes with the Creatista
                  Plus coffee machine. Create unique latte art and a broad range
                  of delightful milk-based recipes.
                </div>
              </div>
              <div
                class="button mobile-only"
                onclick="openModalProductMobile({
                img: [
                  '/src/images/coffee-page/product-coffee-2.png',
                  '/src/images/coffee-page/product-coffee-1.png',
                  '/src/images/coffee-page/product-coffee-3.png',
                  '/src/images/coffee-page/product-coffee-4.png',
                  '/src/images/coffee-page/product-coffee-5.png',
                ],
                name: 'Gran Lattissima',
                price: 'Rp 4.200.000',
                description: 'With new Nespresso Gran Lattissima, there is a way for all your latte wishes. With six different recipe options at the touch of a button and an easy rinsing system, the Gran Lattissima does the work while you lean back.',
                marketplaces: [
                  {
                    name: 'Tokopedia',
                    link: 'https://www.tokopedia.com',
                    button_color: '#03AC0E',
                    font_color: '#FFFFFF',
                  },
                  {
                    name: 'Shopee',
                    link: 'https://shopee.co.id',
                    button_color: '#F94D2F',
                    font_color: '#FFFFFF',
                  },
                ]
              })"
              >
                Detail
              </div>
              <div class="marketplace-button">
                <a
                  href="https://www.tokopedia.com"
                  class="button"
                  style="background-color: #03ac0e; color: #ffffff"
                  target="_blank"
                >
                  Tokopedia
                </a>
                <a
                  href="https://shopee.co.id"
                  class="button"
                  style="background-color: #f94d2f; color: #ffffff"
                  target="_blank"
                >
                  Shopee
                </a>
              </div>
            </div>
          </div>

          <div class="product-card-mobile">
            <div class="img-wrapper">
              <img
                src="/src/images/coffee-page/product-coffee-3.png"
                alt="product"
              />
            </div>
            <div class="product-detail">
              <div class="detail-wrapper">
                <div class="product-name">Atelier</div>
                <div class="product-price">Rp 20.100.000</div>
                <div class="product-description">
                  Make it, shape it, stir it to your will. With Nespresso
                  Atelier, you are the craftsman of your own recipe. The machine
                  is your personal workbench, with a technology that allows you
                  to froth any type of milk, from cow to almond, to soy...
                  Enabling you to make any recipe, whether you prefer
                  macchiatos, mochas or even flat whites.
                </div>
              </div>
              <div class="button mobile-only">Detail</div>
              <div class="marketplace-button">
                <a
                  href="https://www.tokopedia.com"
                  class="button"
                  style="background-color: #03ac0e; color: #ffffff"
                  target="_blank"
                >
                  Tokopedia
                </a>
                <a
                  href="https://shopee.co.id"
                  class="button"
                  style="background-color: #f94d2f; color: #ffffff"
                  target="_blank"
                >
                  Shopee
                </a>
              </div>
            </div>
          </div>

          </div>
        </div>
        <div class="pagination-desktop">
          <div class="prev-next">Prev</div>
          <div class="page active">1</div>
          <div class="page">2</div>
          <div class="page">3</div>
          <div class="prev-next">Next</div>
        </div>
        <div class="detail-product-modal">
          <div class="modal-content">
            <div class="top-modal">
              <div class="close-button">x</div>
            </div>
            <div class="modal-inner">
              <div class="new-product-card">
                <div class="image-wrapper-mobile">
                  <img alt="img product" />
                </div>
                <div class="image-list">
                </div>
                <div class="product-detail">
                  <div class="title"></div>
                  <div class="price-wrapper">
                    <div class="product-price"></div>
                    <div class="product-discount"></div>
                  </div>
                  <div class="product-description"></div>
                  <div class="marketplaces"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="image-product-modal">
          <div class="modal-content">
            <div class="top-modal">
              <div class="modal-name"></div>
              <div class="close-button">X</div>
            </div>
            <div class="modal-inner">
              <div class="focused-img-wrapper">
                <img src="" alt=" " />
              </div>
              <div class="image-list-wrapper">
                <div class="title">Foto Barang</div>
                <div class="image-list">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <nav class="bottom-nav">
        <a href="#" class="nav-item" id="index-page">
          <div class="img-wrapper">
            <img src="/src/images/home.png" alt="beranda" />
          </div>
          <div class="title">Beranda</div>
        </a>
        <a href="#" class="nav-item active" id="coffee-page">
          <div class="img-wrapper">
            <img
              src="/src/images/coffee-pack.png"
              alt="beranda"
              style="opacity: 0.6"
            />
          </div>
          <div class="title">Kopi</div>
        </a>
        <a href="#" class="nav-item" id="coffee-machine-page">
          <div class="img-wrapper">
            <img src="/src/images/coffee-machine.png" alt="beranda" />
          </div>
          <div class="title">Mesin Kopi</div>
        </a>
      </nav>
    </main>
    <div id="side-drawer">
      <div class="drawer-left">
        <div class="drawer-logo">
          <img src="/src/images/blue-logo.jpg" alt="logo" />
        </div>
        <div class="menu-list">
          <a class="menu-item" href="/view/about-us.html">Tentang Kami</a>
          <a class="menu-item" href="/view/contact.html">Kontak</a>
          <a class="menu-item" href="/view/shipping.html">Pengiriman</a>
          <a class="menu-item" href="/view/article.html">Artikel</a>
        </div>
      </div>
      <div class="drawer-right">a</div>
    </div>
    <div class="footer-svg-wrapper">
      <svg id="visual" viewBox="0 0 900 600" width="900" height="600" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
        <path d="M0 487L25 486.7C50 486.3 100 485.7 150 484.5C200 483.3 250 481.7 300 482C350 482.3 400 484.7 450 484.8C500 485 550 483 600
          485C650 487 700 493 750 489.2C800 485.3 850 471.7 875 464.8L900 458L900 601L875 601C850 601 800 601 750 601C700 601 650 601 600 
          601C550 601 500 601 450 601C400 601 350 601 300 601C250 601 200 601 150 601C100 601 50 601 25 601L0 601Z" fill="#848484"></path>
        <path d="M0 499L25 501.8C50 504.7 100 510.3 150 513.8C200 517.3 250 518.7 300 515.3C350 512 400 504 450 500.2C500 496.3 550 496.7 
          600 503.3C650 510 700 523 750 529.5C800 536 850 536 875 536L900 536L900 601L875 601C850 601 800 601 750 601C700 601 650 601 600
          601C550 601 500 601 450 601C400 601 350 601 300 601C250 601 200 601 150 601C100 601 50 601 25 601L0 601Z" fill="#5f6363"></path>
        <path d="M0 567L25 566C50 565 100 563 150 559C200 555 250 549 300 549.2C350 549.3 400 555.7 450 559.3C500 563 550 564 600 561.5C650
          559 700 553 750 548.5C800 544 850 541 875 539.5L900 538L900 601L875 601C850 601 800 601 750 601C700 601 650 601 600 601C550 601
          500 601 450 601C400 601 350 601 300 601C250 601 200 601 150 601C100 601 50 601 25 601L0 601Z" fill="#3d4444"></path></svg>
    </div>
    <footer tabindex="0">
      <div class="footer-content container-coffee">
        <div class="footer-section">
          <div class="footer-title">PT KTI</div>
          <div class="footer-content-text">
            Talavera Office Park Lantai 28, Jl. TB Simatupang Kav. 22-23, RT1/RW 1,
            Cilandak, Jakarta Selatan, Daerah Istimewa Ibukota Jakarta 12430
          </div>
        </div>
        <div class="footer-section">
          <div class="footer-title">Pengiriman</div>
          <div class="footer-content-text icon-grid">
            <img src="/src/images/footer/jne.png" alt="jne" />
            <img src="/src/images/footer/jnt.png" alt="jnt" />
            <img src="/src/images/footer/grab-express.png" alt="grab" />
            <img src="/src/images/footer/gosend.png" alt="gosend" />
            <img src="/src/images/footer/pos-indonesia.png" alt="pos" />
          </div>
        </div>
        <div class="footer-section">
          <div class="footer-title">Pembayaran</div>
          <div class="footer-content-text icon-grid">
            <img src="/src/images/footer/bca.png" alt="bca" />
            <img src="/src/images/footer/bni.png" alt="bni" />
            <img src="/src/images/footer/bri.png" alt="bri" />
            <img src="/src/images/footer/mandiri.png" alt="mandiri" />
          </div>
        </div>
        <div class="footer-section">
          <div class="footer-title">Contact us</div>
          <div>
            <div class="footer-content-text sub-bold">
              <span class="bold">Telp:</span>
              <span>+62 8131-0931-008</span>
            </div>
            <div class="footer-content-text sub-bold">
              <span class="bold">Email:</span>
              <span>info@ptkti.id</span>
            </div>
            <div class="footer-content-text sub-bold working-hour">
              <span class="bold">Jam Pelayanan:</span>
              <div>Senin - Jumat</div>
              <div>(08.00 - 18.00 WIB)</div>
            </div>
            <div class="footer-content-text sub-bold">
              <span class="bold">Sosial Media</span>
              <div class="social-media-kti">
                <a href="#">
                  <img src="/src/images/footer/instagram.png" alt=" " />
                </a>
                <a href="#">
                  <img src="/src/images/footer/facebook.png" alt=" " />
                </a>
                <a href="#">
                  <img src="/src/images/footer/twitter.png" alt=" " />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="copyright">
        <div class="container-coffee">
          <div>
            © <span class="year"></span> Kleijn Trading Indonesia. All rights reserved.
          </div>
        </div>
      </div>
    </footer>
    <script type="text/javascript" src="/src/scripts/scripts.js"></script>
  </body>
</html>
