<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="Cache-control" content="public" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Coffee" />
    <meta name="theme-color" content="#272727" />
    <link rel="apple-touch-icon" href="/src/images/blue-logo.jpg" />
    <link rel="icon" href="/src/images/blue-logo.jpg" />
    <link rel="stylesheet" href="/src/styles/common.css" />
    <link rel="stylesheet" href="/src/styles/coffee.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
    <title>Coffee Brand</title>
  </head>
  <body>
    <main class="screen">
      <nav class="top-nav">
        <div class="top-nav-container">
          <div class="logo-wrapper">
            <a href="/view/index.html">
              <img src="/src/images/blue-logo.jpg" />
            </a>
          </div>
          <div class="menu-wrapper">
            <div class="hamburger-menu">☰</div>
            <div class="search-bar-wrapper">
              <div class="search-box">
                <form>
                  <select class="select-search">
                    <option value="all-category">All Category</option>
                    <option value="kopi">Kopi</option>
                    <option value="mesin-kopi">Mesin Kopi</option>
                  </select>
                  <input class="input-search" type="text" value="" placeholder="search..."></input>
                  <button class="submit-search" type="submit">
                    <img src="/src/images/search-icon.png" alt="srch" />
                  </button>
                </form>
              </div>
            </div>
            <ul class="menu-list">
              <li class="menu-item">
                <a href="/view/index.html">Beranda</a>
              </li>
              <li class="menu-item">
                <a href="/view/about-us.html">Tentang Kami</a>
              </li>
              <li class="menu-item">
                <a href="/view/contact.html">Kontak</a>
              </li>
              <li class="menu-item">
                <a href="/view/shipping.html">Pengiriman</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="container-coffee">
        <div class="page-title">Kopi</div>
        <div class="product-coffee-card">
          <div class="product-container">
            <div class="img-wrapper">
              <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <img
                      src="/src/images/coffee-page/Barzini _Mou-55.jpg"
                      alt="product-card"
                    />
                  </div>
                  <div class="swiper-slide">
                    <img
                      src="/src/images/coffee-page/Barzini _Mou-55.jpg"
                      alt="product-card"
                    />
                  </div>
                  <div class="swiper-slide">
                    <img
                      src="/src/images/coffee-page/Barzini _Mou-55.jpg"
                      alt="product-card"
                    />
                  </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
              </div>
            </div>
            <div class="product-detail">
              <div class="text-item" style="display: block">
                <div class="product-title">Moa Coffee Machine</div>
                <div class="product-description">
                  Mesin kapsul kopi MOA berbeda dengan mesin kapsul kopi lainnya
                  karena mesin MOA muat beberapa cangkir dari berbagai supermarket
                  (Perla, Gwoon, Lidl, dll), jadi tidak hanya satu jenis. Gelas
                  ini juga umumnya lebih murah daripada cangkir Nespresso atau
                  Dolce Gusto misalnya. Terakhir, mesin kapsul kopi MOA memiliki
                  desain cantik yang pas di interior dan dapur. Moa coffee capsule
                  machines berbeda dengan coffee capsule lainnya, dengan design
                  cantik yang cocok dengan segala interior dapur ataupun ruang 
                  kerja anda.
                </div>
              </div>
              <div class="text-item" style="display: none">
                <div class="product-title">Moa Coffee Machine slide 2</div>
                <div class="product-description">
                  2 Mesin kapsul kopi MOA berbeda dengan mesin kapsul kopi lainnya
                  karena mesin MOA muat beberapa cangkir dari berbagai supermarket
                  (Perla, Gwoon, Lidl, dll), jadi tidak hanya satu jenis. Gelas
                  ini juga umumnya lebih murah daripada cangkir Nespresso atau
                  Dolce Gusto misalnya. Terakhir, mesin kapsul kopi MOA memiliki
                  desain cantik yang pas di interior dan dapur. Moa coffee capsule
                  machines berbeda dengan coffee capsule lainnya, dengan design
                  cantik yang cocok dengan segala interior dapur ataupun ruang 
                  kerja anda.
                </div>
              </div>
              <div class="text-item" style="display: none">
                <div class="product-title">Moa Coffee Machine slide 3</div>
                <div class="product-description">
                  3 Mesin kapsul kopi MOA berbeda dengan mesin kapsul kopi lainnya
                  karena mesin MOA muat beberapa cangkir dari berbagai supermarket
                  (Perla, Gwoon, Lidl, dll), jadi tidak hanya satu jenis. Gelas
                  ini juga umumnya lebih murah daripada cangkir Nespresso atau
                  Dolce Gusto misalnya. Terakhir, mesin kapsul kopi MOA memiliki
                  desain cantik yang pas di interior dan dapur. Moa coffee capsule
                  machines berbeda dengan coffee capsule lainnya, dengan design
                  cantik yang cocok dengan segala interior dapur ataupun ruang 
                  kerja anda.
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- loop 6 item for preview -->
        <div class="product-list-wrapper">
          <div class="title-list">
            <div class="title">Produk Kami</div>
            <a href="/view/coffee-product.html" class="see-all">Lihat Semua ></a>
          </div>
          <div class="product-list">
            
            <div
              class="product-item"
              onclick="openModalProductMobile({
              img: [
                '/src/images/coffee-page/product-coffee-1.png',
                '/src/images/coffee-page/product-coffee-2.png',
                '/src/images/coffee-page/product-coffee-3.png',
                '/src/images/coffee-page/product-coffee-4.png',
                '/src/images/coffee-page/product-coffee-5.png',
              ],
              name: 'SF Bay Coffee Fog Chaser Whole Bean 2LB (32 Ounce)',
              price: 'Rp 1.500.000',
              before_discount_price: 'Rp 1.800.000',
              discount_percentage: '20%',
              description: `With new Nespresso Gran Lattissima, there is a way for all your latte wishes. With six different recipe options at the touch of a button and an easy rinsing system, the Gran Lattissima does the work while you lean back.`,
              marketplaces: [
                {
                  name: 'Tokopedia',
                  link: 'https://www.tokopedia.com',
                  button_color: '#03AC0E',
                  font_color: '#FFFFFF',
                },
                {
                  name: 'Shopee',
                  link: 'https://shopee.co.id',
                  button_color: '#F94D2F',
                  font_color: '#FFFFFF',
                },
              ]}, 'isCoffeePage')"
            >
              <div class="img-wrapper">
                <!-- discount -->
                <div class="discount-tag">
                  <div class="discount-percentage">20%</div>
                  <div class="discount-text">OFF</div>
                </div>
                <img
                  src="/src/images/coffee-page/product-coffee-1.png"
                  alt="coffee"
                />
              </div>
              <div class="product-name">
                SF Bay Coffee Fog Chaser Whole Bean 2LB (32 Ounce)
              </div>
              <div class="product-price">Rp. 1.800.000</div>
              <div class="marketplace-button">
                <a
                  href="https://www.tokopedia.com"
                  class="button"
                  style="background-color: #03ac0e; color: #ffffff"
                  target="_blank"
                >
                  Tokopedia
                </a>
                <a
                  href="https://shopee.co.id"
                  class="button"
                  style="background-color: #f94d2f; color: #ffffff"
                  target="_blank"
                >
                  Shopee
                </a>
              </div>
            </div>

            <div
              class="product-item"
              onclick="openModalProductMobile({
              img: [
                '/src/images/coffee-page/product-coffee-1.png',
                '/src/images/coffee-page/product-coffee-2.png',
                '/src/images/coffee-page/product-coffee-3.png',
                '/src/images/coffee-page/product-coffee-4.png',
                '/src/images/coffee-page/product-coffee-5.png',
              ],
              name: 'SF Bay Coffee Fog Chaser Whole Bean 2LB (32 Ounce)',
              price: 'Rp 1.000.000',
              before_discount_price: 'Rp 1.100.000',
              discount_percentage: '10%',
              description: 'With new Nespresso Gran Lattissima, there is a way for all your latte wishes. With six different recipe options at the touch of a button and an easy rinsing system, the Gran Lattissima does the work while you lean back.',
              marketplaces: [
                {
                  name: 'Tokopedia',
                  link: 'https://www.tokopedia.com',
                  button_color: '#03AC0E',
                  font_color: '#FFFFFF',
                },
                {
                  name: 'Shopee',
                  link: 'https://shopee.co.id',
                  button_color: '#F94D2F',
                  font_color: '#FFFFFF',
                },
              ]}, 'isCoffeePage')"
            >
              <div class="img-wrapper">
                <!-- discount -->
                <div class="discount-tag">
                  <div class="discount-percentage">10%</div>
                  <div class="discount-text">OFF</div>
                </div>
                <img
                  src="/src/images/coffee-page/product-coffee-2.png"
                  alt="coffee"
                />
              </div>
              <div class="product-name">
                SF Bay Coffee Fog Chaser Whole Bean 2LB (32 Ounce)
              </div>
              <div class="product-price">Rp. 1.100.000</div>
              <div class="marketplace-button">
                <a
                  href="https://www.tokopedia.com"
                  class="button"
                  style="background-color: #03ac0e; color: #ffffff"
                  target="_blank"
                >
                  Tokopedia
                </a>
                <a
                  href="https://shopee.co.id"
                  class="button"
                  style="background-color: #f94d2f; color: #ffffff"
                  target="_blank"
                >
                  Shopee
                </a>
              </div>
            </div>

            <div class="product-item">
              <div class="img-wrapper">
                <img
                  src="/src/images/coffee-page/product-coffee-3.png"
                  alt="coffee"
                />
              </div>
              <div class="product-name">
                Dunkin' Original Blend Medium Roast Ground Coffee, 12 ...
              </div>
              <div class="product-price">Rp. 600.000</div>
              <div class="marketplace-button">
                <a
                  href="https://www.tokopedia.com"
                  class="button"
                  style="background-color: #03ac0e; color: #ffffff"
                  target="_blank"
                >
                  Tokopedia
                </a>
                <a
                  href="https://shopee.co.id"
                  class="button"
                  style="background-color: #f94d2f; color: #ffffff"
                  target="_blank"
                >
                  Shopee
                </a>
              </div>
            </div>

            <div class="product-item">
              <div class="img-wrapper">
                <img
                  src="/src/images/coffee-page/product-coffee-4.png"
                  alt="coffee"
                />
              </div>
              <div class="product-name">
                AmazonFresh Decaf Colombia Ground Coffee, Medium ...
              </div>
              <div class="product-price">Rp. 740.000</div>
              <div class="marketplace-button">
                <a
                  href="https://www.tokopedia.com"
                  class="button"
                  style="background-color: #03ac0e; color: #ffffff"
                  target="_blank"
                >
                  Tokopedia
                </a>
                <a
                  href="https://shopee.co.id"
                  class="button"
                  style="background-color: #f94d2f; color: #ffffff"
                  target="_blank"
                >
                  Shopee
                </a>
              </div>
            </div>

            <div class="product-item">
              <div class="img-wrapper">
                <img
                  src="/src/images/coffee-page/product-coffee-5.png"
                  alt="coffee"
                />
              </div>
              <div class="product-name">
                SF Bay Coffee Fog Chaser Whole Bean 2LB (32 Ounce)
              </div>
              <div class="product-price">Rp. 1.800.000</div>
              <div class="marketplace-button">
                <a
                  href="https://www.tokopedia.com"
                  class="button"
                  style="background-color: #03ac0e; color: #ffffff"
                  target="_blank"
                >
                  Tokopedia
                </a>
                <a
                  href="https://shopee.co.id"
                  class="button"
                  style="background-color: #f94d2f; color: #ffffff"
                  target="_blank"
                >
                  Shopee
                </a>
              </div>
            </div>

            <div class="product-item">
              <div class="img-wrapper">
                <img
                  src="/src/images/coffee-page/product-coffee-6.png"
                  alt="coffee"
                />
              </div>
              <div class="product-name">
                Dunkin' Original Blend Medium Roast Ground Coffee, 12 ...
              </div>
              <div class="product-price">Rp. 600.000</div>
              <div class="marketplace-button">
                <a
                  href="https://www.tokopedia.com"
                  class="button"
                  style="background-color: #03ac0e; color: #ffffff"
                  target="_blank"
                >
                  Tokopedia
                </a>
                <a
                  href="https://shopee.co.id"
                  class="button"
                  style="background-color: #f94d2f; color: #ffffff"
                  target="_blank"
                >
                  Shopee
                </a>
              </div>
            </div>
          </div>

        </div>
        <div class="brand-card">
          <div class="brand-container">
            <div class="brand-wrapper">
              <img src="/src/images/blue-logo.jpg" alt="product-card" />
              <div class="brand-name">Your Brand</div>
            </div>
            <div class="product-detail">
              <div class="product-title">Lorem Ipsum used since the 1500s</div>
              <div class="product-description">
                The standard chunk of Lorem Ipsum used since the 1500s is
                reproduced below for those interested. Sections 1.10.32 and
                1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also
                reproduced in their exact original form, accompanied by English
                versions from the 1914 translation by H. Rackham.
              </div>
              <ul>
                <li>Reproduced in their exact original</li>
                <li>Reproduced below for those</li>
                <li>Finibus Bonorum et Malorum</li>
                <li>Accompanied by English versions</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="singgle-banner">
          <div class="banner-title">Lorem Ipsum used</div>
          <div class="img-banner">
            <img
              src="/src/images/coffee-page/coffee-banner-1.png"
              alt="banner"
            />
          </div>
        </div>
        <div class="singgle-banner">
          <div class="banner-title">Lorem Ipsum used</div>
          <div class="img-banner">
            <img
              src="/src/images/coffee-page/coffee-banner-2.png"
              alt="banner"
            />
          </div>
        </div>
      </div>
      <div class="detail-product-modal">
        <div class="modal-content">
          <div class="top-modal">
            <div class="close-button">x</div>
          </div>
          <div class="modal-inner">
            <div class="new-product-card">
              <div class="image-wrapper-mobile">
                <img alt="img product" />
              </div>
              <div class="image-list">
              </div>
              <div class="product-detail">
                <div class="title"></div>
                <div class="price-wrapper">
                  <div class="product-price"></div>
                  <div class="product-discount"></div>
                </div>
                <div class="product-description"></div>
                <div class="marketplaces"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="image-product-modal">
        <div class="modal-content">
          <div class="top-modal">
            <div class="modal-name"></div>
            <div class="close-button">X</div>
          </div>
          <div class="modal-inner">
            <div class="focused-img-wrapper">
              <img src="" alt=" " />
            </div>
            <div class="image-list-wrapper">
              <div class="title">Foto Barang</div>
              <div class="image-list">
              </div>
              <div class="title description">Deskripsi</div>
              <div class="description-product">
              </div>
            </div>
          </div>
        </div>
      </div>
      <nav class="bottom-nav">
        <a href="#" class="nav-item" id="index-page">
          <div class="img-wrapper">
            <img src="/src/images/home.png" alt="beranda" />
          </div>
          <div class="title">Beranda</div>
        </a>
        <a href="#" class="nav-item active" id="coffee-page">
          <div class="img-wrapper">
            <img
              src="/src/images/coffee-pack.png"
              alt="beranda"
              style="opacity: 0.6"
            />
          </div>
          <div class="title">Kopi</div>
        </a>
        <a href="#" class="nav-item" id="coffee-machine-page">
          <div class="img-wrapper">
            <img src="/src/images/coffee-machine.png" alt="beranda" />
          </div>
          <div class="title">Mesin Kopi</div>
        </a>
      </nav>
    </main>
    <div id="side-drawer">
      <div class="drawer-left">
        <div class="drawer-logo">
          <img src="/src/images/blue-logo.jpg" alt="logo" />
        </div>
        <div class="menu-list">
          <a class="menu-item" href="/view/about-us.html">Tentang Kami</a>
          <a class="menu-item" href="/view/contact.html">Kontak</a>
          <a class="menu-item" href="/view/shipping.html">Pengiriman</a>
        </div>
      </div>
      <div class="drawer-right">a</div>
    </div>
    <footer tabindex="0">
      <div class="footer-content container-coffee">
        <div class="footer-section">
          <div class="footer-title">PT KTI</div>
          <div class="footer-content-text">
            Talavera Office Park Lantai 28, Jl. TB Simatupang Kav. 22-23, RT1/RW 1,
            Cilandak, Jakarta Selatan, Daerah Istimewa Ibukota Jakarta 12430
          </div>
        </div>
        <div class="footer-section">
          <div class="footer-title">Pengiriman</div>
          <div class="footer-content-text icon-grid">
            <img src="/src/images/footer/jne.png" alt="jne" />
            <img src="/src/images/footer/jnt.png" alt="jnt" />
            <img src="/src/images/footer/grab-express.png" alt="grab" />
            <img src="/src/images/footer/gosend.png" alt="gosend" />
            <img src="/src/images/footer/pos-indonesia.png" alt="pos" />
          </div>
        </div>
        <div class="footer-section">
          <div class="footer-title">Pembayaran</div>
          <div class="footer-content-text icon-grid">
            <img src="/src/images/footer/bca.png" alt="bca" />
            <img src="/src/images/footer/bni.png" alt="bni" />
            <img src="/src/images/footer/bri.png" alt="bri" />
            <img src="/src/images/footer/mandiri.png" alt="mandiri" />
          </div>
        </div>
        <div class="footer-section">
          <div class="footer-title">Contact us</div>
          <div>
            <div class="footer-content-text sub-bold">
              <span class="bold">Telp:</span>
              <span>+62 8131-0931-008</span>
            </div>
            <div class="footer-content-text sub-bold">
              <span class="bold">Email:</span>
              <span>info@ptkti.id</span>
            </div>
            <div class="footer-content-text sub-bold working-hour">
              <span class="bold">Jam Pelayanan:</span>
              <div>Senin - Jumat</div>
              <div>(08.00 - 18.00 WIB)</div>
            </div>
            <div class="footer-content-text sub-bold">
              <span class="bold">Sosial Media</span>
              <div class="social-media-kti">
                <a href="#">
                  <img src="/src/images/footer/instagram.png" alt=" " />
                </a>
                <a href="#">
                  <img src="/src/images/footer/facebook.png" alt=" " />
                </a>
                <a href="#">
                  <img src="/src/images/footer/twitter.png" alt=" " />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="copyright">
        <div class="container-coffee">
          <div>
            © <span class="year"></span> Kleijn Trading Indonesia. All rights reserved.
          </div>
        </div>
      </div>
    </footer>
    <script type="text/javascript" src="/src/scripts/scripts.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
      const swiper = new Swiper(".mySwiper", {
        slidesPerView: 1,
        spaceBetween: 30,
        loop: true,
        autoplay: {
          delay: 8000,
          disableOnInteraction: false,
        },
        pagination: {
          el: ".swiper-pagination",
          clickable: true
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev"
        }
      });

      swiper.on('slideChange', (e) => {
        console.log('slide changed', e.realIndex);
        const productDetailList = document.querySelectorAll(".product-detail .text-item");
        productDetailList?.forEach((item, idx) => {
          if (item?.style?.display) {
            item.style.display = idx == e.realIndex ? "block" : "none";
          }
        })
      });
    </script>
  </body>
</html>
