<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="Cache-control" content="public" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Coffee" />
    <meta name="theme-color" content="#272727" />
    <link rel="apple-touch-icon" href="/src/images/coffee-icon.png" />
    <link rel="icon" href="/src/images/coffee-icon.png" />
    <link rel="stylesheet" href="/src/styles/common.css" />
    <link rel="stylesheet" href="/src/styles/coffee.css" />
    <title>Coffee Brand</title>
  </head>
  <body>
    <main class="screen">
      <nav class="top-nav">
        <div class="top-nav-container">
          <div class="logo-wrapper">
            <img src="/src/images/coffe-icon.png" />
          </div>
          <div class="hamburger-menu">☰</div>
          <div class="menu-list">
            <a class="menu-item" href="/view/index.html">Beranda</a>
            <a class="menu-item" href="/view/coffee.html">Kopi</a>
            <a class="menu-item" href="/view/coffee-machine.html">Mesin Kopi</a>
            <a class="menu-item" href="#">Tokopedia</a>
            <a class="menu-item" href="#">Shopee</a>
            <a class="menu-item" href="/view/about-us.html">Tentang Kami</a>
            <a class="menu-item" href="/view/contact.html">Kontak</a>
          </div>
        </div>
      </nav>
      <div class="container-coffee">
        <div class="page-title">Kopi</div>
        <div class="product-coffee-card">
          <div class="product-container">
            <div class="img-wrapper">
              <img
                src="/src/images/coffee-page/highlight-coffee.png"
                alt="product-card"
              />
            </div>
            <div class="product-detail">
              <div class="product-title">Lorem Ipsum used since the 1500s</div>
              <div class="product-description">
                Contrary to popular belief, Lorem Ipsum is not simply random
                text. It has roots in a piece of classical Latin literature from
                45 BC, making it over 2000 years old. Richard McClintock, a
                Latin professor at Hampden-Sydney College in Virginia, looked up
                one of the more obscure Latin words, consectetur, from a Lorem
                Ipsum passage, and going through the cites of the word in
                classical literature, discovered the undoubtable source. Lorem
                Ipsum comes from sections 1.10.32 The standard chunk of Lorem
                Ipsum used since the 1500s is reproduced below for those
                interested. Sections 1.10.32 and 1.10.33 from "de Finibus
                Bonorum et Malorum" by Cicero are also reproduced in their exact
                original form, accompanied by English versions from the 1914
                translation by H. Rackham.
              </div>
            </div>
          </div>
        </div>
        <!-- loop 6 item for preview -->
        <div class="product-list-wrapper">
          <div class="title-list">
            <div class="title">Produk Kami</div>
            <a href="/view/coffee-product.html" class="see-all">Lihat Semua ></a>
          </div>
          <div class="product-list">
            <div
              class="product-item"
              onclick="openModalProductMobile({
              img: '/src/images/coffee-page/product-coffee-1.png',
              name: 'SF Bay Coffee Fog Chaser Whole Bean 2LB (32 Ounce)',
              price: 'Rp 1.800.000',
              description: 'With new Nespresso Gran Lattissima, there is a way for all your latte wishes. With six different recipe options at the touch of a button and an easy rinsing system, the Gran Lattissima does the work while you lean back.',
              marketplaces: [
                {
                  name: 'Tokopedia',
                  link: 'https://www.tokopedia.com',
                  button_color: '#03AC0E',
                  font_color: '#FFFFFF',
                },
                {
                  name: 'Shopee',
                  link: 'https://shopee.co.id',
                  button_color: '#F94D2F',
                  font_color: '#FFFFFF',
                },
              ]})"
            >
              <div class="img-wrapper">
                <img
                  src="/src/images/coffee-page/product-coffee-1.png"
                  alt="coffee"
                />
              </div>
              <div class="product-name">
                SF Bay Coffee Fog Chaser Whole Bean 2LB (32 Ounce)
              </div>
              <div class="product-price">Rp. 1.800.000</div>
              <div class="marketplace-button">
                <a
                  href="https://www.tokopedia.com"
                  class="button"
                  style="background-color: #03ac0e; color: #ffffff"
                  target="_blank"
                >
                  Tokopedia
                </a>
                <a
                  href="https://shopee.co.id"
                  class="button"
                  style="background-color: #f94d2f; color: #ffffff"
                  target="_blank"
                >
                  Shopee
                </a>
              </div>
            </div>
            <div
              class="product-item"
              onclick="openModalProductMobile({
              img: '/src/images/coffee-page/product-coffee-2.png',
              name: 'SF Bay Coffee Fog Chaser Whole Bean 2LB (32 Ounce)',
              price: 'Rp 1.100.000',
              description: 'With new Nespresso Gran Lattissima, there is a way for all your latte wishes. With six different recipe options at the touch of a button and an easy rinsing system, the Gran Lattissima does the work while you lean back.',
              marketplaces: [
                {
                  name: 'Tokopedia',
                  link: 'https://www.tokopedia.com',
                  button_color: '#03AC0E',
                  font_color: '#FFFFFF',
                },
                {
                  name: 'Shopee',
                  link: 'https://shopee.co.id',
                  button_color: '#F94D2F',
                  font_color: '#FFFFFF',
                },
              ]})"
            >
              <div class="img-wrapper">
                <img
                  src="/src/images/coffee-page/product-coffee-2.png"
                  alt="coffee"
                />
              </div>
              <div class="product-name">
                SF Bay Coffee Fog Chaser Whole Bean 2LB (32 Ounce)
              </div>
              <div class="product-price">Rp. 1.100.000</div>
              <div class="marketplace-button">
                <a
                  href="https://www.tokopedia.com"
                  class="button"
                  style="background-color: #03ac0e; color: #ffffff"
                  target="_blank"
                >
                  Tokopedia
                </a>
                <a
                  href="https://shopee.co.id"
                  class="button"
                  style="background-color: #f94d2f; color: #ffffff"
                  target="_blank"
                >
                  Shopee
                </a>
              </div>
            </div>
            <div class="product-item">
              <div class="img-wrapper">
                <img
                  src="/src/images/coffee-page/product-coffee-3.png"
                  alt="coffee"
                />
              </div>
              <div class="product-name">
                Dunkin' Original Blend Medium Roast Ground Coffee, 12 ...
              </div>
              <div class="product-price">Rp. 600.000</div>
              <div class="marketplace-button">
                <a
                  href="https://www.tokopedia.com"
                  class="button"
                  style="background-color: #03ac0e; color: #ffffff"
                  target="_blank"
                >
                  Tokopedia
                </a>
                <a
                  href="https://shopee.co.id"
                  class="button"
                  style="background-color: #f94d2f; color: #ffffff"
                  target="_blank"
                >
                  Shopee
                </a>
              </div>
            </div>
            <div class="product-item">
              <div class="img-wrapper">
                <img
                  src="/src/images/coffee-page/product-coffee-4.png"
                  alt="coffee"
                />
              </div>
              <div class="product-name">
                AmazonFresh Decaf Colombia Ground Coffee, Medium ...
              </div>
              <div class="product-price">Rp. 740.000</div>
              <div class="marketplace-button">
                <a
                  href="https://www.tokopedia.com"
                  class="button"
                  style="background-color: #03ac0e; color: #ffffff"
                  target="_blank"
                >
                  Tokopedia
                </a>
                <a
                  href="https://shopee.co.id"
                  class="button"
                  style="background-color: #f94d2f; color: #ffffff"
                  target="_blank"
                >
                  Shopee
                </a>
              </div>
            </div>
            <div class="product-item">
              <div class="img-wrapper">
                <img
                  src="/src/images/coffee-page/product-coffee-5.png"
                  alt="coffee"
                />
              </div>
              <div class="product-name">
                SF Bay Coffee Fog Chaser Whole Bean 2LB (32 Ounce)
              </div>
              <div class="product-price">Rp. 1.800.000</div>
              <div class="marketplace-button">
                <a
                  href="https://www.tokopedia.com"
                  class="button"
                  style="background-color: #03ac0e; color: #ffffff"
                  target="_blank"
                >
                  Tokopedia
                </a>
                <a
                  href="https://shopee.co.id"
                  class="button"
                  style="background-color: #f94d2f; color: #ffffff"
                  target="_blank"
                >
                  Shopee
                </a>
              </div>
            </div>
            <div class="product-item">
              <div class="img-wrapper">
                <img
                  src="/src/images/coffee-page/product-coffee-6.png"
                  alt="coffee"
                />
              </div>
              <div class="product-name">
                Dunkin' Original Blend Medium Roast Ground Coffee, 12 ...
              </div>
              <div class="product-price">Rp. 600.000</div>
              <div class="marketplace-button">
                <a
                  href="https://www.tokopedia.com"
                  class="button"
                  style="background-color: #03ac0e; color: #ffffff"
                  target="_blank"
                >
                  Tokopedia
                </a>
                <a
                  href="https://shopee.co.id"
                  class="button"
                  style="background-color: #f94d2f; color: #ffffff"
                  target="_blank"
                >
                  Shopee
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="brand-card">
          <div class="brand-container">
            <div class="brand-wrapper">
              <img src="/src/images/coffe-icon.png" alt="product-card" />
              <div class="brand-name">Your Brand</div>
            </div>
            <div class="product-detail">
              <div class="product-title">Lorem Ipsum used since the 1500s</div>
              <div class="product-description">
                The standard chunk of Lorem Ipsum used since the 1500s is
                reproduced below for those interested. Sections 1.10.32 and
                1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also
                reproduced in their exact original form, accompanied by English
                versions from the 1914 translation by H. Rackham.
              </div>
              <ul>
                <li>Reproduced in their exact original</li>
                <li>Reproduced below for those</li>
                <li>Finibus Bonorum et Malorum</li>
                <li>Accompanied by English versions</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="singgle-banner">
          <div class="banner-title">Lorem Ipsum used</div>
          <div class="img-banner">
            <img
              src="/src/images/coffee-page/coffee-banner-1.png"
              alt="banner"
            />
          </div>
        </div>
        <div class="singgle-banner">
          <div class="banner-title">Lorem Ipsum used</div>
          <div class="img-banner">
            <img
              src="/src/images/coffee-page/coffee-banner-2.png"
              alt="banner"
            />
          </div>
        </div>
      </div>
      <div class="detail-product-modal">
        <div class="modal-content">
          <div class="top-modal">
            <div class="close-button">x</div>
          </div>
          <div class="modal-inner">
            <div class="new-product-card">
              <div class="image-wrapper-mobile">
                <img alt="img product" />
              </div>
              <div class="product-detail">
                <div class="title"></div>
                <div class="product-price"></div>
                <div class="product-description"></div>
                <div class="marketplaces"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <nav class="bottom-nav">
        <a href="#" class="nav-item" id="index-page">
          <div class="img-wrapper">
            <img src="/src/images/home.png" alt="beranda" />
          </div>
          <div class="title">Beranda</div>
        </a>
        <a href="#" class="nav-item active" id="coffee-page">
          <div class="img-wrapper">
            <img
              src="/src/images/coffee-pack.png"
              alt="beranda"
              style="opacity: 0.6"
            />
          </div>
          <div class="title">Kopi</div>
        </a>
        <a href="#" class="nav-item" id="coffee-machine-page">
          <div class="img-wrapper">
            <img src="/src/images/coffee-machine.png" alt="beranda" />
          </div>
          <div class="title">Mesin Kopi</div>
        </a>
      </nav>
    </main>
    <div id="side-drawer">
      <div class="drawer-left">
        <div class="drawer-logo">
          <img src="/src/images/coffe-icon.png" alt="logo" />
        </div>
        <div class="menu-list">
          <a class="menu-item" href="#">Tokopedia</a>
          <a class="menu-item" href="#">Shopee</a>
          <a class="menu-item" href="/view/about-us.html">Tentang Kami</a>
          <a class="menu-item" href="/view/contact.html">Kontak</a>
        </div>
      </div>
      <div class="drawer-right">a</div>
    </div>
    <footer tabindex="0">
      <div class="footer-content container-coffee">
        <div class="footer-section">
          <div class="footer-title">Coffe Brand</div>
          <div class="footer-content-text">
            Jl. Sejahtera No.24A, RT.04/RW.14, Gambir Tim., Kec. Gambir, Kota
            Jakarta Pusat, Daerah Khusus Ibukota Jakarta 123456
          </div>
        </div>
        <div class="footer-section right">
          <div class="footer-title">Contact us</div>
          <div>
            <div class="footer-content-text">
              <span class="bold">Telp:</span>
              <span>082299110022</span>
            </div>
            <div class="footer-content-text">
              <span class="bold">Istagram:</span>
              <span>@coffee_brand</span>
            </div>
          </div>
        </div>
      </div>
      <div class="copyright">
        <div class="container-coffee">
          <div>cs@coffee_brand.com</div>
          <div>
            © <span class="year"></span> Coffee Brand. All rights reserved.
          </div>
        </div>
      </div>
    </footer>
    <script type="text/javascript" src="/src/scripts/scripts.js"></script>
  </body>
</html>
