<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="Cache-control" content="public" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Coffee" />
    <meta name="theme-color" content="#272727" />
    <link rel="apple-touch-icon" href="/src/images/coffee-icon.png" />
    <link rel="icon" href="/src/images/coffee-icon.png" />
    <link rel="stylesheet" href="/src/styles/common.css" />
    <link rel="stylesheet" href="/src/styles/coffee.css" />
    <title>Coffee Brand</title>
  </head>
  <body>
    <main class="screen">
      <nav class="top-nav">
        <div class="top-nav-container">
          <div class="logo-wrapper">
            <img src="/src/images/coffe-icon.png" />
          </div>
          <div class="hamburger-menu">☰</div>
          <div class="menu-list">
            <a class="menu-item" href="/view/index.html">Beranda</a>
            <a class="menu-item" href="/view/coffee.html">Kopi</a>
            <a class="menu-item" href="/view/coffee-machine.html">Mesin Kopi</a>
            <a class="menu-item" href="#">Tokopedia</a>
            <a class="menu-item" href="#">Shopee</a>
            <a class="menu-item" href="/view/about-us.html">Tentang Kami</a>
            <a class="menu-item" href="/view/contact.html">Kontak</a>
          </div>
        </div>
      </nav>
      <div class="container-coffee">
        <div class="page-title">Kopi</div>
        <div class="coffee-content">
          content
        </div>
      </div>
      <nav class="bottom-nav">
        <a href="#" class="nav-item" id="index-page">
          <div class="img-wrapper">
            <img src="/src/images/home.png" alt="beranda" />
          </div>
          <div class="title">Beranda</div>
        </a>
        <a href="#" class="nav-item active" id="coffee-page">
          <div class="img-wrapper">
            <img
              src="/src/images/coffee-pack.png"
              alt="beranda"
              style="opacity: 0.6"
            />
          </div>
          <div class="title">Kopi</div>
        </a>
        <a href="#" class="nav-item" id="coffee-machine-page">
          <div class="img-wrapper">
            <img src="/src/images/coffee-machine.png" alt="beranda" />
          </div>
          <div class="title">Mesin Kopi</div>
        </a>
      </nav>
    </main>
    <div id="side-drawer">
      <div class="drawer-left">
        <div class="drawer-logo">
          <img src="/src/images/coffe-icon.png" alt="logo" />
        </div>
        <div class="menu-list">
          <a class="menu-item" href="#">Tokopedia</a>
          <a class="menu-item" href="#">Shopee</a>
          <a class="menu-item" href="/view/about-us.html">Tentang Kami</a>
          <a class="menu-item" href="/view/contact.html">Kontak</a>
        </div>
      </div>
      <div class="drawer-right">a</div>
    </div>
    <footer tabindex="0">
      <div class="footer-content container-coffee">
        <div class="footer-section">
          <div class="footer-title">Coffe Brand</div>
          <div class="footer-content-text">
            Jl. Sejahtera No.24A, RT.04/RW.14, Gambir Tim., Kec. Gambir, Kota
            Jakarta Pusat, Daerah Khusus Ibukota Jakarta 123456
          </div>
        </div>
        <div class="footer-section right">
          <div class="footer-title">Contact us</div>
          <div>
            <div class="footer-content-text">
              <span class="bold">Telp:</span>
              <span>082299110022</span>
            </div>
            <div class="footer-content-text">
              <span class="bold">Istagram:</span>
              <span>@coffee_brand</span>
            </div>
          </div>
        </div>
      </div>
      <div class="copyright">
        <div class="container-coffee">
          <div>cs@coffee_brand.com</div>
          <div>
            © <span class="year"></span> Coffee Brand. All rights reserved.
          </div>
        </div>
      </div>
    </footer>
    <script type="text/javascript" src="/src/scripts/scripts.js"></script>
  </body>
</html>
