<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="Cache-control" content="public" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Coffee" />
    <meta name="theme-color" content="#272727" />
    <link rel="apple-touch-icon" href="/src/images/blue-logo.jpg" />
    <link rel="icon" href="/src/images/blue-logo.jpg" />
    <link rel="stylesheet" href="/src/styles/common.css" />
    <link rel="stylesheet" href="/src/styles/contact.css" />
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <title>Coffee Brand</title>
  </head>
  <body>
    <main class="screen">
      <nav class="top-nav">
        <div class="top-nav-container">
          <div class="logo-wrapper">
            <a href="/view/index.html">
              <img src="/src/images/blue-logo.jpg" />
            </a>
          </div>
          <div class="menu-wrapper">
            <div class="hamburger-menu">☰</div>
            <div class="search-bar-wrapper">
              <div class="search-box">
                <form>
                  <select class="select-search">
                    <option value="all-category">All Category</option>
                    <option value="kopi">Kopi</option>
                    <option value="mesin-kopi">Mesin Kopi</option>
                  </select>
                  <input class="input-search" type="text" value="" placeholder="search..."></input>
                  <button class="submit-search" type="submit">
                    <img src="/src/images/search-icon.png" alt="srch" />
                  </button>
                </form>
              </div>
            </div>
            <ul class="menu-list">
              <li class="menu-item">
                <a href="/view/index.html">Beranda</a>
              </li>
              <li class="menu-item">
                <a href="/view/about-us.html">Tentang Kami</a>
              </li>
              <li class="menu-item active">
                <a href="/view/contact.html">Kontak</a>
              </li>
              <li class="menu-item">
                <a href="/view/shipping.html">Pengiriman</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="container-coffee">
        <div class="page-title">Kontak</div>
        <div class="card-wrapper">
          <div class="card-left">
            <div class="address-card">
              <div class="address-title">
                <img src="/src/images/pinpoint.png" alt="pinpoint" />
                <span>Alamat Kami</span>
              </div>
              <div class="address-detail">
                Talavera Office Park Lantai 28, Jl. TB Simatupang Kav. 22-23, RT1/RW 1,
                Cilandak, Jakarta Selatan, Daerah Istimewa Ibukota Jakarta 12430
              </div>
            </div>
            <div class="google-map-wrapper">
              <!-- // https://maps-website.com/ -->
              <iframe
                width="100%"
                height="400"
                frameborder="0"
                scrolling="no"
                marginheight="0"
                marginwidth="0"
                id="gmap_canvas"
                src="https://maps.google.com/maps?width=520&amp;height=400&amp;hl=en&amp;q=MARQUEE%20-%20Talavera%20Office%20Park%20Jakarta+(KTI)&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
              ></iframe>
              <a
                href="https://www.versicherungen.at/private-krankenversicherung/"
                >.</a
              >
            </div>
          </div>
          <div class="card-right">
            <div class="contact-card">
              <div class="contact-item">
                <img src="/src/images/whatsapp-icon.png" alt="whatsapp" />
                <span class="key">Telp: </span
                ><span class="value">+62 8131-0931-008</span>
              </div>
              <div class="contact-item">
                <img src="/src/images/instagram-icon.png" alt="instagram" />
                <span class="key">Email: </span
                ><span class="value">@kti_shop</span>
              </div>
            </div>
            <div class="form-card">
              <div class="input-wrapper">
                <label>Nama</label>
                <input type="text" />
              </div>
              <div class="input-wrapper">
                <label>Telp / Email</label>
                <input type="text" />
              </div>
              <div class="input-wrapper">
                <label>Nama</label>
                <textarea rows="4"></textarea>
              </div>
              <div class="button">Kirim Pesan</div>
            </div>
          </div>
        </div>
      </div>
      <nav class="bottom-nav">
        <a href="#" class="nav-item" id="index-page">
          <div class="img-wrapper">
            <img src="/src/images/home.png" alt="beranda" />
          </div>
          <div class="title">Beranda</div>
        </a>
        <a href="#" class="nav-item" id="coffee-page">
          <div class="img-wrapper">
            <img
              src="/src/images/coffee-pack.png"
              alt="beranda"
              style="opacity: 0.6"
            />
          </div>
          <div class="title">Kopi</div>
        </a>
        <a href="#" class="nav-item" id="coffee-machine-page">
          <div class="img-wrapper">
            <img src="/src/images/coffee-machine.png" alt="beranda" />
          </div>
          <div class="title">Mesin Kopi</div>
        </a>
      </nav>
    </main>
    <div id="side-drawer">
      <div class="drawer-left">
        <div class="drawer-logo">
          <img src="/src/images/blue-logo.jpg" alt="logo" />
        </div>
        <div class="menu-list">
          <a class="menu-item" href="/view/about-us.html">Tentang Kami</a>
          <a class="menu-item active" href="/view/contact.html">Kontak</a>
          <a class="menu-item" href="/view/shipping.html">Pengiriman</a>
        </div>
      </div>
      <div class="drawer-right">a</div>
    </div>
    <footer tabindex="0">
      <div class="footer-content container-coffee">
        <div class="footer-section">
          <div class="footer-title">PT KTI</div>
          <div class="footer-content-text">
            Talavera Office Park Lantai 28, Jl. TB Simatupang Kav. 22-23, RT1/RW 1,
            Cilandak, Jakarta Selatan, Daerah Istimewa Ibukota Jakarta 12430
          </div>
        </div>
        <div class="footer-section">
          <div class="footer-title">Pengiriman</div>
          <div class="footer-content-text icon-grid">
            <img src="/src/images/footer/jne.png" alt="jne" />
            <img src="/src/images/footer/jnt.png" alt="jnt" />
            <img src="/src/images/footer/grab-express.png" alt="grab" />
            <img src="/src/images/footer/gosend.png" alt="gosend" />
            <img src="/src/images/footer/pos-indonesia.png" alt="pos" />
          </div>
        </div>
        <div class="footer-section">
          <div class="footer-title">Pembayaran</div>
          <div class="footer-content-text icon-grid">
            <img src="/src/images/footer/bca.png" alt="bca" />
            <img src="/src/images/footer/bni.png" alt="bni" />
            <img src="/src/images/footer/bri.png" alt="bri" />
            <img src="/src/images/footer/mandiri.png" alt="mandiri" />
          </div>
        </div>
        <div class="footer-section">
          <div class="footer-title">Contact us</div>
          <div>
            <div class="footer-content-text sub-bold">
              <span class="bold">Telp:</span>
              <span>+62 8131-0931-008</span>
            </div>
            <div class="footer-content-text sub-bold">
              <span class="bold">Email:</span>
              <span>info@ptkti.id</span>
            </div>
            <div class="footer-content-text sub-bold working-hour">
              <span class="bold">Jam Pelayanan:</span>
              <div>Senin - Jumat</div>
              <div>(08.00 - 18.00 WIB)</div>
            </div>
            <div class="footer-content-text sub-bold">
              <span class="bold">Sosial Media</span>
              <div class="social-media-kti">
                <a href="#">
                  <img src="/src/images/footer/instagram.png" alt=" " />
                </a>
                <a href="#">
                  <img src="/src/images/footer/facebook.png" alt=" " />
                </a>
                <a href="#">
                  <img src="/src/images/footer/twitter.png" alt=" " />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="copyright">
        <div class="container-coffee">
          <div>
            © <span class="year"></span> Kleijn Trading Indonesia. All rights reserved.
          </div>
        </div>
      </div>
    </footer>
    <script type="text/javascript" src="/src/scripts/scripts.js"></script>
    <script
      type="text/javascript"
      src="https://embedmaps.com/google-maps-authorization/script.js?id=be82a0eaa5bb265eddcb38e0539070dd36204ffa"
    ></script>
  </body>
</html>
