<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="Cache-control" content="public" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Coffee" />
    <meta name="theme-color" content="#272727" />
    <link rel="apple-touch-icon" href="/src/images/coffee-icon.png" />
    <link rel="icon" href="/src/images/coffee-icon.png" />
    <link rel="stylesheet" href="/src/styles/common.css" />
    <link rel="stylesheet" href="/src/styles/contact.css" />
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <title>Coffee Brand</title>
  </head>
  <body>
    <main class="screen">
      <nav class="top-nav">
        <div class="top-nav-container">
          <div class="logo-wrapper">
            <img src="/src/images/coffe-icon.png" />
          </div>
          <div class="hamburger-menu">☰</div>
          <div class="menu-list">
            <a class="menu-item" href="/view/index.html">Beranda</a>
            <a class="menu-item" href="#">Kopi</a>
            <a class="menu-item" href="/view/coffee-machine.html">Mesin Kopi</a>
            <a class="menu-item" href="#">Tokopedia</a>
            <a class="menu-item" href="#">Shopee</a>
            <a class="menu-item" href="/view/about-us.html">Tentang Kami</a>
            <a class="menu-item" href="/view/contact.html">Kontak</a>
          </div>
        </div>
      </nav>
      <div class="container">
        <div class="page-title">Kontak</div>
        <div class="address-card">
          <div class="address-title">Alamat Kami</div>
          <div class="address-detail">
            Jl. Sejahtera No.24A, RT.04/RW.14, Gambir Tim., Kec. Gambir, Kota
            Jakarta Pusat, Daerah Khusus Ibukota Jakarta 123456
          </div>
        </div>
        <div class="google-map-wrapper">
          <!-- // https://maps-website.com/ -->
          <iframe
            width="100%"
            height="400"
            frameborder="0"
            scrolling="no"
            marginheight="0"
            marginwidth="0"
            id="gmap_canvas"
            src="https://maps.google.com/maps?width=520&amp;height=400&amp;hl=en&amp;q=Monumen%20Patung%20Dirgantara%20Jakarta+(Kleijn%20Trading%20Indonesia)&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
          ></iframe>
          <a href="https://www.versicherungen.at/private-krankenversicherung/"
            >.</a
          >
        </div>
        <div class="contact-card">
          <div class="contact-item">
            <img src="/src/images/whatsapp-icon.png" alt="whatsapp" />
            <span class="key">Telp: </span><span class="value">022990022331</span>
          </div>
          <div class="contact-item">
            <img src="/src/images/instagram-icon.png" alt="instagram" />
            <span class="key">Instagram: </span><span class="value">@coffee_brand</span>
          </div>
        </div>
        <div class="form-card">
          <div class="input-wrapper">
            <label>Nama</label>
            <input type="text" />
          </div>
          <div class="input-wrapper">
            <label>Telp / Email</label>
            <input type="text" />
          </div>
          <div class="input-wrapper">
            <label>Nama</label>
            <textarea rows="4"></textarea>
          </div>
          <div class="button">Kirim Pesan</div>
        </div>
      </div>
      <nav class="bottom-nav">
        <div class="nav-item" id="index-page">
          <div class="img-wrapper">
            <img src="/src/images/home.png" alt="beranda" />
          </div>
          <div class="title">Beranda</div>
        </div>
        <div class="nav-item" id="coffee-page">
          <div class="img-wrapper">
            <img
              src="/src/images/coffee-pack.png"
              alt="beranda"
              style="opacity: 0.6"
            />
          </div>
          <div class="title">Kopi</div>
        </div>
        <div class="nav-item" id="coffee-machine-page">
          <div class="img-wrapper">
            <img src="/src/images/coffee-machine.png" alt="beranda" />
          </div>
          <div class="title">Mesin Kopi</div>
        </div>
      </nav>
    </main>
    <div id="side-drawer">
      <div class="drawer-left">
        <div class="drawer-logo">
          <img src="/src/images/coffe-icon.png" alt="logo" />
        </div>
        <div class="menu-list">
          <a class="menu-item" href="#">Tokopedia</a>
          <a class="menu-item" href="#">Shopee</a>
          <a class="menu-item" href="/view/about-us.html">Tentang Kami</a>
          <a class="menu-item" href="/view/contact.html">Kontak</a>
        </div>
      </div>
      <div class="drawer-right">a</div>
    </div>
    <footer tabindex="0">
      <div class="footer-content container">
        <div class="footer-section">
          <div class="footer-title">Coffe Brand</div>
          <div class="footer-content-text">
            Jl. Sejahtera No.24A, RT.04/RW.14, Gambir Tim., Kec. Gambir, Kota
            Jakarta Pusat, Daerah Khusus Ibukota Jakarta 123456
          </div>
        </div>
        <div class="footer-section right">
          <div class="footer-title">Contact us</div>
          <div>
            <div class="footer-content-text">
              <span class="bold">Telp:</span>
              <span>082299110022</span>
            </div>
            <div class="footer-content-text">
              <span class="bold">Istagram:</span>
              <span>@coffee_brand</span>
            </div>
          </div>
        </div>
      </div>
      <div class="copyright">
        <div class="container">
          <div>cs@coffee_brand.com</div>
          <div>
            © <span class="year"></span> Coffee Brand. All rights reserved.
          </div>
        </div>
      </div>
    </footer>
    <script type="text/javascript" src="/src/scripts/scripts.js"></script>
    <script
      type="text/javascript"
      src="https://embedmaps.com/google-maps-authorization/script.js?id=be82a0eaa5bb265eddcb38e0539070dd36204ffa"
    ></script>
  </body>
</html>
