<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="Cache-control" content="public" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Coffee" />
    <meta name="theme-color" content="#272727" />
    <link rel="apple-touch-icon" href="/src/images/coffee-icon.png" />
    <link rel="icon" href="/src/images/coffee-icon.png" />
    <link rel="stylesheet" href="/src/styles/common.css" />
    <link rel="stylesheet" href="/src/styles/index.css" />
    <title>Coffee Brand</title>
  </head>
  <body>
    <main class="screen">
      <nav class="top-nav">
        <div class="top-nav-container">
          <div class="logo-wrapper">
            <img src="/src/images/coffe-icon.png" />
          </div>
          <div class="hamburger-menu">☰</div>
          <div class="menu-list">
            <div class="menu-item">Beranda</div>
            <div class="menu-item">Kopi</div>
            <div class="menu-item">Mesin Kopi</div>
            <div class="menu-item">Tokopedia</div>
            <div class="menu-item">Shopee</div>
            <div class="menu-item">Tentang Kami</div>
            <div class="menu-item">Kontak</div>
          </div>
        </div>
      </nav>
      <div class="container">
        <div class="mobile-banner">
          <img src="/src/images/banner-mobile.png" alt="banner" />
        </div>
        <div class="desktop-banner">
          <img src="/src/images/banner-desktop.jpeg" alt="banner" />
        </div>
        <div class="our-service-list">
          <div class="our-service-card">
            <div class="illustration-image">
              <img
                src="/src/images/coffee-machine-service.png"
                alt="mesin kopi"
              />
              <h2 class="title">Mesin Kopi</h2>
            </div>
            <div class="text-button-wrapper">
              <p class="text">
                Apakah Anda membutuhkan mesin kopi super otomatis, semi otomatis
                atau mesin single serve? Hotel, restoran, cafe maupun kantor,
                dapat kami penuhi!
              </p>
              <div class="button">Read More</div>
            </div>
          </div>
          <div class="our-service-card">
            <div class="illustration-image">
              <img src="/src/images/coffee-service.png" alt="mesin kopi" />
              <h2 class="title">Kopi</h2>
            </div>
            <div class="text-button-wrapper">
              <p class="text">
                Dari kopi autentik Italia hingga Premium Cold Brew, kami membawa
                berbagai jenis kopi yang enak dan berkualitas tinggi yang akan
                membuat setiap pelanggan puas.
              </p>
              <div class="button">Read More</div>
            </div>
          </div>
          <div class="our-service-card">
            <div class="illustration-image">
              <img src="/src/images/buy-service.png" alt="mesin kopi" />
              <h2 class="title">Ingin Membeli?</h2>
            </div>
            <div class="text-button-wrapper">
              <p class="text">
                Jika Anda adalah seorang profesional dan sudah tahu apa yang
                Anda mau, kamu dapat melakukan transaksi langsung melalui
                website kami.
              </p>
              <div class="button">Read More</div>
            </div>
          </div>
        </div>
        <div class="new-product">
          <h2 class="title">Produk Baru</h2>
          <div class="new-product-card-wrapper">
            <div class="image-wrapper-desktop">
              <div class="offset-bg">
                <img src="/src/images/new-product.png" alt="produk baru" />
              </div>
            </div>
            <div class="new-product-card">
              <div class="image-wrapper-mobile">
                <img src="/src/images/new-product.png" alt="produk baru" />
              </div>
              <div class="product-detail">
                <div class="title">ULKA Mesin Pompa Kopi Italia 4 Cup</div>
                <div class="product-description">
                  850 watt, 2-15Bar atau 20Bar pompa tekanan tinggi, 4-dapat
                  membuat kopi atau uap nyaman, 5-1.5L dilepas tangki air
                  transparan, dengan meter tekanan di bagian depan untuk
                  menunjukkan suhu, dengan safety valve dapat melepaskan tekanan
                  secara otomatis, Die-casting aluminium alloy boiler
                </div>
                <div class="button">Beli</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <nav class="bottom-nav">
        <div class="nav-item active" id="index-page">
          <div class="img-wrapper">
            <img src="/src/images/home.png" alt="beranda" />
          </div>
          <div class="title">Beranda</div>
        </div>
        <div class="nav-item" id="coffee-page">
          <div class="img-wrapper">
            <img
              src="/src/images/coffee-pack.png"
              alt="beranda"
              style="opacity: 0.6"
            />
          </div>
          <div class="title">Kopi</div>
        </div>
        <div class="nav-item" id="coffee-machine-page">
          <div class="img-wrapper">
            <img src="/src/images/coffee-machine.png" alt="beranda" />
          </div>
          <div class="title">Mesin Kopi</div>
        </div>
      </nav>
    </main>
    <div id="side-drawer">
      <div class="drawer-left">
        <div class="drawer-logo">
          <img src="/src/images/coffe-icon.png" alt="logo" />
        </div>
        <div class="menu-list">
          <div class="menu-item">Tokopedia</div>
          <div class="menu-item">Shopee</div>
          <div class="menu-item">Tentang Kami</div>
          <div class="menu-item">Kontak</div>
        </div>
      </div>
      <div class="drawer-right">a</div>
    </div>
    <footer tabindex="0">
      <div class="footer-content container">
        <div class="footer-section">
          <div class="footer-title">Coffe Brand</div>
          <div class="footer-content-text">
            Jl. Sejahtera No.24A, RT.04/RW.14, Gambir Tim., Kec. Gambir, Kota
            Jakarta Pusat, Daerah Khusus Ibukota Jakarta 123456
          </div>
        </div>
        <div class="footer-section right">
          <div class="footer-title">Contact us</div>
          <div>
            <div class="footer-content-text">
              <span class="bold">Telp:</span>
              <span>082299110022</span>
            </div>
            <div class="footer-content-text">
              <span class="bold">Istagram:</span>
              <span>@coffee_brand</span>
            </div>
          </div>
        </div>
      </div>
      <div class="copyright">
        <div class="container">
          <div>
            cs@coffee_brand.com
          </div>
          <div>
            © <span class="year"></span> Coffee Brand. All rights reserved.
          </div>
        </div>
      </div>
    </footer>
    <script type="text/javascript" src="/src/scripts/scripts.js"></script>
  </body>
</html>
