<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="Cache-control" content="public" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Coffee" />
    <meta name="theme-color" content="#272727" />
    <link rel="apple-touch-icon" href="/src/images/blue-logo.jpg" />
    <link rel="icon" href="/src/images/blue-logo.jpg" />
    <link rel="stylesheet" href="/src/styles/common.css" />
    <link rel="stylesheet" href="/src/styles/index.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <title>Coffee Brand</title>
  </head>
  <body>
    <main class="screen">
      <nav class="top-nav">
        <div class="top-nav-container">
          <div class="logo-wrapper">
            <a href="/view/index.html">
              <img src="/src/images/blue-logo.jpg" />
            </a>
          </div>
          <div class="menu-wrapper">
            <div class="hamburger-menu">☰</div>
            <div class="search-bar-wrapper">
              <div class="search-box">
                <form>
                  <select class="select-search">
                    <option value="all-category">All Category</option>
                    <option value="kopi">Kopi</option>
                    <option value="mesin-kopi">Mesin Kopi</option>
                  </select>
                  <input class="input-search" type="text" value="" placeholder="search..."></input>
                  <button class="submit-search" type="submit">
                    <img src="/src/images/search-icon.png" alt="srch" />
                  </button>
                </form>
              </div>
            </div>
            <ul class="menu-list">
              <li class="menu-item active">
                <a href="/view/index.html">Beranda</a>
              </li>
              <li class="menu-item">
                <a href="/view/about-us.html">Tentang Kami</a>
              </li>
              <li class="menu-item">
                <a href="/view/contact.html">Kontak</a>
              </li>
              <li class="menu-item">
                <a href="/view/shipping.html">Pengiriman</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="container-coffee">
        <div class="swiper mySwiper">
          <div class="swiper-wrapper swiper-banner">
            <div class="swiper-slide">
              <img src="/src/images/header-website-clear.png" alt=" " />
              <div class="effect-wrapper">
                <div class="kti-wave-rotating">
                  <svg class="wave-rotating" width="360" height="360" viewBox="0 0 388 302" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M94.6202 59.1903C110.824 50.3674 128.054 43.4931 145.661 38.0803C166.294 31.8014 188.331 29.3116 207.883 19.8932C224.303 11.5575 238.238 2.24737 257.034 0.407006C274.696 -1.3251 293.168 2.46385 308.237 12.0446C322.496 21.1381 333.731 34.6161 340.374 50.151C347.99 67.9051 347.018 85.0637 345.235 103.9C343.237 125.227 348.26 141.195 360.034 158.732C368.46 171.398 378.128 183.415 383.8 197.705C395.628 227.638 381.261 255.135 355.876 272.185C326.169 292.105 287.443 298.6 252.443 301.144C212.798 304.067 172.451 299.466 134.427 287.991C98.7251 277.165 62.4291 260.439 33.9648 235.919C7.06696 212.752 -10.7029 174.863 7.28302 140.87C25.269 106.823 61.4029 77.3233 94.6202 59.1903Z" fill="#E0931D">
                      <animate data-svg-animation="" attributeName="d" keyTimes="0; 0.33; 0.66; 1" dur="4.5s" repeatCount="indefinite" keySplines="0.42 0 1 1; 0.42 0 1 1; 0.42 0 1 1; 0.42 0 1 1; 0.42 0 1 1" fill="freeze" values="
                        M94.6202 59.1903C110.824 50.3674 128.054 43.4931 145.661 38.0803C166.294 31.8014 188.331 29.3116 207.883 19.8932C224.303 11.5575 238.238 2.24737 257.034 0.407006C274.696 -1.3251 293.168 2.46385 308.237 12.0446C322.496 21.1381 333.731 34.6161 340.374 50.151C347.99 67.9051 347.018 85.0637 345.235 103.9C343.237 125.227 348.26 141.195 360.034 158.732C368.46 171.398 378.128 183.415 383.8 197.705C395.628 227.638 381.261 255.135 355.876 272.185C326.169 292.105 287.443 298.6 252.443 301.144C212.798 304.067 172.451 299.466 134.427 287.991C98.7251 277.165 62.4291 260.439 33.9648 235.919C7.06696 212.752 -10.7029 174.863 7.28302 140.87C25.269 106.823 61.4029 77.3233 94.6202 59.1903Z;
                        M70.5 54.9999C86.7038 46.177 94.893 45.9128 112.5 40.5C133.133 34.2211 182.449 40.4184 202.001 31C218.421 22.6643 228.704 7.34027 247.5 5.49991C265.162 3.7678 299.431 3.41921 314.5 13C328.759 22.0935 336.357 24.9651 343 40.5C350.616 58.2541 349.783 77.1637 348 96C346.002 117.327 356.226 132.463 368 150C376.426 162.666 374.828 159.21 380.5 173.5C392.328 203.433 385.42 259.45 360.035 276.5C330.328 296.42 287.444 298.6 252.444 301.144C212.799 304.067 202.524 292.475 164.5 281C128.798 270.174 82.9643 278.02 54.5 253.5C27.6021 230.333 -7.98343 181.493 10.0025 147.5C27.9885 113.453 37.2827 73.1329 70.5 54.9999Z;
                        M77.0009 58.9999C93.2047 50.177 119.894 42.4128 137.501 37C158.134 30.7211 180.448 34.9182 200 25.4998C216.42 17.1641 228.704 7.34019 247.5 5.49982C265.162 3.76772 300.931 2.91921 316 12.5C330.259 21.5935 336.357 24.965 343 40.4999C350.616 58.254 358.283 81.1635 356.5 99.9998C354.502 121.327 348.261 134.963 360.035 152.5C368.461 165.166 378.129 183.415 383.801 197.705C395.629 227.638 385.42 259.45 360.035 276.5C330.328 296.42 287.444 298.6 252.444 301.144C212.799 304.067 161.024 297.975 123 286.5C87.2981 275.674 72.4655 274.02 44.0012 249.5C17.1034 226.333 -10.9856 170.993 7.00033 137C23.9989 84.0001 43.7836 77.1329 77.0009 58.9999Z;
                        M94.6202 59.1903C110.824 50.3674 128.054 43.4931 145.661 38.0803C166.294 31.8014 188.331 29.3116 207.883 19.8932C224.303 11.5575 238.238 2.24737 257.034 0.407006C274.696 -1.3251 293.168 2.46385 308.237 12.0446C322.496 21.1381 333.731 34.6161 340.374 50.151C347.99 67.9051 347.018 85.0637 345.235 103.9C343.237 125.227 348.26 141.195 360.034 158.732C368.46 171.398 378.128 183.415 383.8 197.705C395.628 227.638 381.261 255.135 355.876 272.185C326.169 292.105 287.443 298.6 252.443 301.144C212.798 304.067 172.451 299.466 134.427 287.991C98.7251 277.165 62.4291 260.439 33.9648 235.919C7.06696 212.752 -10.7029 174.863 7.28302 140.87C25.269 106.823 61.4029 77.3233 94.6202 59.1903Z"></animate>
                    </path>
                  </svg>
                </div>
                <div class="kti-wave-text">
                  <img src="/src/images/kti-koffie-capsule.png" alt=" " />
                </div>
                <svg class="wave-effect" width="1400" height="61" viewBox="0 0 1400 61" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M0.25 0.75L48.25 9.29167C96.25 17.8333 192.25 34.9167 288.25 33.2083C384.25 31.5 480.25 11 576.25 14.4167C672.25 17.8333 768.25 45.1667 864.25 50.2917C960.25 55.4167 1056.25 38.3333 1152.25 28.0833C1248.25 17.8333 1344.25 14.4167 1392.25 12.7083L1440.25 11V61H1392.25C1344.25 61 1248.25 61 1152.25 61C1056.25 61 960.25 61 864.25 61C768.25 61 672.25 61 576.25 61C480.25 61 384.25 61 288.25 61C192.25 61 96.25 61 48.25 61H0.25V0.75Z" fill="#D0BB9E">
                    <animate data-svg-animation="" attributeName="d" keyTimes="0; 0.22; 0.55; 1" dur="3s" repeatCount="indefinite" keySplines="0.42 0 1 1; 0.42 0 1 1; 0.42 0 1 1; 0.42 0 1 1; 0.42 0 1 1" fill="freeze" values="
                      M0.25 0.75L48.25 9.29167C96.25 17.8333 192.25 34.9167 288.25 33.2083C384.25 31.5 480.25 11 576.25 14.4167C672.25 17.8333 768.25 45.1667 864.25 50.2917C960.25 55.4167 1056.25 38.3333 1152.25 28.0833C1248.25 17.8333 1344.25 14.4167 1392.25 12.7083L1440.25 11V61H1392.25C1344.25 61 1248.25 61 1152.25 61C1056.25 61 960.25 61 864.25 61C768.25 61 672.25 61 576.25 61C480.25 61 384.25 61 288.25 61C192.25 61 96.25 61 48.25 61H0.25V0.75Z;
                      M0.25 0.750075L48.25 9.29175C96.25 17.8334 192.25 34.7086 288.25 33.0002C384.25 31.2919 590 -2.66662 686 0.750075C782 4.16668 844 27.8751 940 33.0001C1036 38.1251 1059 25.2501 1155 15.0001C1251 4.75008 1345.25 1.25007 1392.25 5.50007L1440.25 11.0001V61.0001H1392.25C1344.25 61.0001 1248.25 61.0001 1152.25 61.0001C1056.25 61.0001 960.25 61.0001 864.25 61.0001C768.25 61.0001 672.25 61.0001 576.25 61.0001C480.25 61.0001 384.25 61.0001 288.25 61.0001C192.25 61.0001 96.25 61.0001 48.25 61.0001H0.25V0.750075Z;
                      M0.25 5.99996L48.25 25.75C68.25 35.25 179 44.9584 275 43.25C371 41.5417 480.25 -2.66695 576.25 0.749749C672.25 4.16635 768.25 24.875 864.25 30C960.25 35.125 1056.25 27.75 1152.25 17.5C1248.25 7.24996 1345.25 19.75 1392.25 24L1440.25 30V61H1392.25C1344.25 61 1248.25 61 1152.25 61C1056.25 61 960.25 61 864.25 61C768.25 61 672.25 61 576.25 61C480.25 61 384.25 61 288.25 61C192.25 61 96.25 61 48.25 61H0.25V5.99996Z;
                      M0.25 0.75L48.25 9.29167C96.25 17.8333 192.25 34.9167 288.25 33.2083C384.25 31.5 480.25 11 576.25 14.4167C672.25 17.8333 768.25 45.1667 864.25 50.2917C960.25 55.4167 1056.25 38.3333 1152.25 28.0833C1248.25 17.8333 1344.25 14.4167 1392.25 12.7083L1440.25 11V61H1392.25C1344.25 61 1248.25 61 1152.25 61C1056.25 61 960.25 61 864.25 61C768.25 61 672.25 61 576.25 61C480.25 61 384.25 61 288.25 61C192.25 61 96.25 61 48.25 61H0.25V0.75Z"></animate>
                  </path>
                </svg>
              </div>
            </div>
            <div class="swiper-slide singgle-banner">
              <div class="img-banner">
                <img
                src="/src/images/header-empty.png"
                alt="banner"
              />
                <div class="box-list-wrapper">
                  <div>
                    <div class="box-item">
                      <img src="/src/images/box-text-1-screen.png" alt=" " />
                      <img class="box-item-detail" src="/src/images/box-text-1-detail.png" alt=" " />   
                      <img class="box-item-text" src="/src/images/box-text-1-lungo.png" alt=" " />  
                    </div>
                  </div>
                  <div>
                    <div class="box-item">
                      <img src="/src/images/box-text-2-screen.png" alt=" " />
                      <img class="box-item-detail" src="/src/images/box-text-2-detail.png" alt=" " />   
                      <img class="box-item-text" src="/src/images/box-text-2-espresso.png" alt=" " /> 
                    </div>
                  </div>
                  <div>
                    <div class="box-item">
                      <img src="/src/images/box-text-3-screen.png" alt=" " />
                      <img class="box-item-detail" src="/src/images/box-text-3-detail.png" alt=" " />   
                      <img class="box-item-text" src="/src/images/box-text-3-ristretto.png" alt=" " /> 
                    </div>
                  </div>
                  <div>
                    <div class="box-item">
                      <img src="/src/images/box-text-4-screen.png" alt=" " />
                      <img class="box-item-detail" src="/src/images/box-text-4-detail.png" alt=" " />   
                      <img class="box-item-text" src="/src/images/box-text-4-decaf.png" alt=" " /> 
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide singgle-banner">
              <div class="img-banner">
                <img
                src="/src/images/header-empty.png"
                alt="banner"
              />
                <div class="box-list-wrapper">
                  <div>
                    <div class="box-item">
                      <img src="/src/images/5-box-text-1-screen.png" alt=" " />
                      <img class="box-item-detail" src="/src/images/5-box-text-1-detail.png" alt=" " />   
                      <img class="box-item-text" src="/src/images/5-box-text-1-lungo.png" alt=" " />  
                    </div>
                  </div>
                  <div> 
                    <div class="box-item">
                      <img src="/src/images/5-box-text-2-screen.png" alt=" " />
                      <img class="box-item-detail" src="/src/images/5-box-text-2-detail.png" alt=" " />   
                      <img class="box-item-text" src="/src/images/5-box-text-2-espresso.png" alt=" " /> 
                    </div>
                  </div>
                  <div>
                    <div class="box-item">
                      <img src="/src/images/5-box-text-3-screen.png" alt=" " />
                      <img class="box-item-detail" src="/src/images/5-box-text-3-detail.png" alt=" " />   
                      <img class="box-item-text" src="/src/images/5-box-text-3-ristretto.png" alt=" " /> 
                    </div>
                  </div>
                  <div>
                    <div class="box-item">
                      <img src="/src/images/5-box-text-4-screen.png" alt=" " />
                      <img class="box-item-detail" src="/src/images/5-box-text-4-detail.png" alt=" " />   
                      <img class="box-item-text" src="/src/images/5-box-text-4-decaf.png" alt=" " /> 
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-pagination"></div>
        </div>

        <!-- for mobile -->
        <div class="our-service-list">
          <div class="our-service-card">
            <div class="illustration-image">
              <div class="swiper mySwiper slider-wrapper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <img src="/src/images/barzini-mou.jpg" alt="mesin kopi" />
                  </div>
                  <div class="swiper-slide">
                    <img src="/src/images/barzini-mou.jpg" alt="mesin kopi" />
                  </div>
                  <div class="swiper-slide">
                    <img src="/src/images/barzini-mou.jpg" alt="mesin kopi" />
                  </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
              </div>
              <h2 class="title">Mesin Kopi Kapsul</h2>
            </div>
            <div class="text-button-wrapper">
              <p class="text">
                Apakah Anda membutuhkan mesin kopi super otomatis, semi otomatis
                atau mesin single serve? Hotel, restoran, cafe maupun kantor,
                dapat kami penuhi!
              </p>
              <a href="/view/coffee-machine.html" class="button">Lihat Selengkapnya</a>
            </div>
          </div>
          <div class="our-service-card">
            <div class="illustration-image">
              <div class="swiper mySwiper slider-wrapper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <img src="/src/images/72.jpg" alt="kopi kapsul" />
                  </div>
                  <div class="swiper-slide">
                    <img src="/src/images/72.jpg" alt="kopi kapsul" />
                  </div>
                  <div class="swiper-slide">
                    <img src="/src/images/72.jpg" alt="kopi kapsul" />
                  </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
              </div>
              <h2 class="title">Kopi Kapsul</h2>
            </div>
            <div class="text-button-wrapper">
              <p class="text">
                Dari kopi autentik Italia hingga Premium Cold Brew, kami membawa
                berbagai jenis kopi yang enak dan berkualitas tinggi yang akan
                membuat setiap pelanggan puas.
              </p>
              <a href="/view/coffee.html" class="button">Lihat Selengkapnya</a>
            </div>
          </div>
        </div>
        <!-- -- -->

        <!-- for desktop -->
        <div class="our-service-list-slider">
          <div class="our-service-slide">
            <div>
              <h2 class="title">Mesin Kopi Kapsul</h2>
              <div class="illustration-image">
                <div class="swiper mySwiper slider-wrapper">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <img src="/src/images/barzini-mou.jpg" alt="kopi kapsul" />
                    </div>
                    <div class="swiper-slide">
                      <img src="/src/images/barzini-mou.jpg" alt="kopi kapsul" />
                    </div>
                    <div class="swiper-slide">
                      <img src="/src/images/barzini-mou.jpg" alt="kopi kapsul" />
                    </div>
                  </div>
                  <div class="swiper-button-next"></div>
                  <div class="swiper-button-prev"></div>
                  <div class="swiper-pagination"></div>
                </div>
              </div>
            </div>
            <div class="text-button-wrapper">
              <p class="text">
                Apakah Anda membutuhkan mesin kopi super otomatis, semi otomatis
                atau mesin single serve? Hotel, restoran, cafe maupun kantor,
                dapat kami penuhi!
              </p>
              <a href="/view/coffee-machine.html" class="button">Lihat Selengkapnya ></a>
            </div>
          </div>
          <div class="our-service-slide">
            <div>
              <h2 class="title">Kopi Kapsul</h2>
              <div class="illustration-image">
                <div class="swiper mySwiper slider-wrapper">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <img src="/src/images/72.jpg" alt="kopi kapsul" />
                    </div>
                    <div class="swiper-slide">
                      <img src="/src/images/72.jpg" alt="kopi kapsul" />
                    </div>
                    <div class="swiper-slide">
                      <img src="/src/images/72.jpg" alt="kopi kapsul" />
                    </div>
                  </div>
                  <div class="swiper-button-next"></div>
                  <div class="swiper-button-prev"></div>
                  <div class="swiper-pagination"></div>
                </div>
              </div>
            </div>
            <div class="text-button-wrapper">
              <p class="text">
                Dari kopi autentik Italia hingga Premium Cold Brew, kami membawa
                berbagai jenis kopi yang enak dan berkualitas tinggi yang akan
                membuat setiap pelanggan puas.
              </p>
              <a href="/view/coffee.html" class="button">Lihat Selengkapnya ></a>
            </div>
          </div>
        </div>
        <!-- --  -->

        <!-- <div class="new-product">
          <h2 class="title">Produk Baru</h2>
          <div class="new-product-card-wrapper">
            <div class="image-wrapper-desktop">
              <div class="offset-bg">
                <img src="/src/images/new-product.png" alt="produk baru" />
              </div>
            </div>
            <div class="new-product-card">
              <div class="image-wrapper-mobile">
                <img src="/src/images/new-product.png" alt="produk baru" />
              </div>
              <div class="product-detail">
                <div class="title">ULKA Mesin Pompa Kopi Italia 4 Cup</div>
                <div class="product-description">
                  850 watt, 2-15Bar atau 20Bar pompa tekanan tinggi, 4-dapat
                  membuat kopi atau uap nyaman, 5-1.5L dilepas tangki air
                  transparan, dengan meter tekanan di bagian depan untuk
                  menunjukkan suhu, dengan safety valve dapat melepaskan tekanan
                  secara otomatis, Die-casting aluminium alloy boiler
                </div>
                <div class="button">Beli</div>
              </div>
            </div>
          </div>
        </div> -->


        <div class="slick-slider-wrapper">
          <div class="slider-home">
            <div class="element">
              <img src="/src/images/cup-1.png" alt=" " />
            </div>
            <div class="element">
              <img src="/src/images/cup-2.png" alt=" " />
            </div>
            <div class="element">
              <img src="/src/images/cup-3.png" alt=" " />
            </div>
            <div class="element">
              <img src="/src/images/cup-4.png" alt=" " />
            </div>
            <div class="element">
              <img src="/src/images/cup-1.png" alt=" " />
            </div>
            <div class="element">
              <img src="/src/images/cup-2.png" alt=" " />
            </div>
            <div class="element">
              <img src="/src/images/cup-3.png" alt=" " />
            </div>
            <div class="element">
              <img src="/src/images/cup-4.png" alt=" " />
            </div>
          </div>
        </div>

        
      </div>
      <nav class="bottom-nav">
        <a href="#" class="nav-item active" id="index-page">
          <div class="img-wrapper">
            <img src="/src/images/home.png" alt="beranda" />
          </div>
          <div class="title">Beranda</div>
        </a>
        <a href="#" class="nav-item" id="coffee-page">
          <div class="img-wrapper">
            <img
              src="/src/images/coffee-pack.png"
              alt="beranda"
              style="opacity: 0.6"
            />
          </div>
          <div class="title">Kopi</div>
        </a>
        <a href="#" class="nav-item" id="coffee-machine-page">
          <div class="img-wrapper">
            <img src="/src/images/coffee-machine.png" alt="beranda" />
          </div>
          <div class="title">Mesin Kopi</div>
        </a>
      </nav>
    </main>
    <div id="side-drawer">
      <div class="drawer-left">
        <div class="drawer-logo">
          <img src="/src/images/blue-logo.jpg" alt="logo" />
        </div>
        <div class="menu-list">
          <a class="menu-item" href="/view/about-us.html">Tentang Kami</a>
          <a class="menu-item" href="/view/contact.html">Kontak</a>
          <a class="menu-item" href="/view/shipping.html">Pengiriman</a>
        </div>
      </div>
      <div class="drawer-right">a</div>
    </div>
    <div class="footer-svg-wrapper">
      <svg id="visual" viewBox="0 0 900 600" width="900" height="600" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
        <path d="M0 487L25 486.7C50 486.3 100 485.7 150 484.5C200 483.3 250 481.7 300 482C350 482.3 400 484.7 450 484.8C500 485 550 483 600
          485C650 487 700 493 750 489.2C800 485.3 850 471.7 875 464.8L900 458L900 601L875 601C850 601 800 601 750 601C700 601 650 601 600 
          601C550 601 500 601 450 601C400 601 350 601 300 601C250 601 200 601 150 601C100 601 50 601 25 601L0 601Z" fill="#848484"></path>
        <path d="M0 499L25 501.8C50 504.7 100 510.3 150 513.8C200 517.3 250 518.7 300 515.3C350 512 400 504 450 500.2C500 496.3 550 496.7 
          600 503.3C650 510 700 523 750 529.5C800 536 850 536 875 536L900 536L900 601L875 601C850 601 800 601 750 601C700 601 650 601 600
          601C550 601 500 601 450 601C400 601 350 601 300 601C250 601 200 601 150 601C100 601 50 601 25 601L0 601Z" fill="#5f6363"></path>
        <path d="M0 567L25 566C50 565 100 563 150 559C200 555 250 549 300 549.2C350 549.3 400 555.7 450 559.3C500 563 550 564 600 561.5C650
          559 700 553 750 548.5C800 544 850 541 875 539.5L900 538L900 601L875 601C850 601 800 601 750 601C700 601 650 601 600 601C550 601
          500 601 450 601C400 601 350 601 300 601C250 601 200 601 150 601C100 601 50 601 25 601L0 601Z" fill="#3d4444"></path></svg>
    </div>
    <footer tabindex="0">
      <div class="footer-content container-coffee">
        <div class="footer-section">
          <div class="footer-title">PT KTI</div>
          <div class="footer-content-text">
            Talavera Office Park Lantai 28, Jl. TB Simatupang Kav. 22-23, RT1/RW 1,
            Cilandak, Jakarta Selatan, Daerah Istimewa Ibukota Jakarta 12430
          </div>
        </div>
        <div class="footer-section">
          <div class="footer-title">Pengiriman</div>
          <div class="footer-content-text icon-grid">
            <img src="/src/images/footer/jne.png" alt="jne" />
            <img src="/src/images/footer/jnt.png" alt="jnt" />
            <img src="/src/images/footer/grab-express.png" alt="grab" />
            <img src="/src/images/footer/gosend.png" alt="gosend" />
            <img src="/src/images/footer/pos-indonesia.png" alt="pos" />
          </div>
        </div>
        <div class="footer-section">
          <div class="footer-title">Pembayaran</div>
          <div class="footer-content-text icon-grid">
            <img src="/src/images/footer/bca.png" alt="bca" />
            <img src="/src/images/footer/bni.png" alt="bni" />
            <img src="/src/images/footer/bri.png" alt="bri" />
            <img src="/src/images/footer/mandiri.png" alt="mandiri" />
          </div>
        </div>
        <div class="footer-section">
          <div class="footer-title">Contact us</div>
          <div>
            <div class="footer-content-text sub-bold">
              <span class="bold">Telp:</span>
              <span>+62 8131-0931-008</span>
            </div>
            <div class="footer-content-text sub-bold">
              <span class="bold">Email:</span>
              <span>info@ptkti.id</span>
            </div>
            <div class="footer-content-text sub-bold working-hour">
              <span class="bold">Jam Pelayanan:</span>
              <div>Senin - Jumat</div>
              <div>(08.00 - 18.00 WIB)</div>
            </div>
            <div class="footer-content-text sub-bold">
              <span class="bold">Sosial Media</span>
              <div class="social-media-kti">
                <a href="#">
                  <img src="/src/images/footer/instagram.png" alt=" " />
                </a>
                <a href="#">
                  <img src="/src/images/footer/facebook.png" alt=" " />
                </a>
                <a href="#">
                  <img src="/src/images/footer/twitter.png" alt=" " />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="copyright">
        <div class="container-coffee">
          <div>
            © <span class="year"></span> Kleijn Trading Indonesia. All rights reserved.
          </div>
        </div>
      </div>
    </footer>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.slick/1.4.1/slick.min.js"></script>
    <script type="text/javascript" src="/src/scripts/scripts.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script type="text/javascript" src="/src/scripts/tilt.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
      var swiper = new Swiper(".mySwiper", {
        slidesPerView: 1,
        spaceBetween: 30,
        loop: true,
        autoplay: {
          delay: 10000,
          disableOnInteraction: false,
        },
        pagination: {
          el: ".swiper-pagination",
          clickable: true
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev"
        }
      });
    </script>

    <script type="text/javascript">
      $(".slider-home").slick({
        slidesToShow: 4,
        infinite:true,
        autoplay: true,
        autoplaySpeed: 2000,
        dots: false,
        arrows: false,
        buttons: false,
        pauseOnHover: false,
        pauseOnFocus: false,
        responsive: [
          {
            breakpoint: 1024,
            settings: {
              slidesToShow: 4,
              slidesToScroll: 1,
            }
          },
          {
            breakpoint: 600,
            settings: {
              slidesToShow: 3,
              slidesToScroll: 1
            }
          },
          {
            breakpoint: 480,
            settings: {
              slidesToShow: 2,
              slidesToScroll: 1
            }
          }
          // You can unslick at a given breakpoint now by adding:
          // settings: "unslick"
          // instead of a settings object
        ]
      });
    </script>

    <script type="text/javascript">
      VanillaTilt.init(document.querySelectorAll(".box-item"), {
        max: 8,
        speed: 400,
        glare: true,
        "max-glare": '0.7',
      });
    </script>
  </body>
</html>
