<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="Cache-control" content="public" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Coffee" />
    <meta name="theme-color" content="#272727" />
    <link rel="apple-touch-icon" href="/src/images/blue-logo.jpg" />
    <link rel="icon" href="/src/images/blue-logo.jpg" />
    <link rel="stylesheet" href="/src/styles/common.css" />
    <link rel="stylesheet" href="/src/styles/index.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
    <title>Coffee Brand</title>
  </head>
  <body>
    <main class="screen">
      <nav class="top-nav">
        <div class="top-nav-container">
          <div class="logo-wrapper">
            <a href="/view/index.html">
              <img src="/src/images/blue-logo.jpg" />
            </a>
          </div>
          <div class="menu-wrapper">
            <div class="hamburger-menu">☰</div>
            <div class="search-bar-wrapper">
              <div class="search-box">
                <form>
                  <select class="select-search">
                    <option value="all-category">All Category</option>
                    <option value="kopi">Kopi</option>
                    <option value="mesin-kopi">Mesin Kopi</option>
                  </select>
                  <input class="input-search" type="text" value="" placeholder="search..."></input>
                  <button class="submit-search" type="submit">
                    <img src="/src/images/search-icon.png" alt="srch" />
                  </button>
                </form>
              </div>
            </div>
            <ul class="menu-list">
              <li class="menu-item active">
                <a href="/view/index.html">Beranda</a>
              </li>
              <li class="menu-item">
                <a href="/view/about-us.html">Tentang Kami</a>
              </li>
              <li class="menu-item">
                <a href="/view/contact.html">Kontak</a>
              </li>
              <li class="menu-item">
                <a href="/view/shipping.html">Pengiriman</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="container-coffee">
        <div class="swiper mySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="/src/images/header-website-3.jpg" alt=" " />
            </div>
            <div class="swiper-slide">
              <img src="/src/images/header-website-4.jpg" alt=" " />
            </div>
            <div class="swiper-slide">
              <img src="/src/images/header-website-5.jpg" alt=" " />
            </div>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-pagination"></div>
        </div>

        <!-- for mobile -->
        <div class="our-service-list">
          <div class="our-service-card">
            <div class="illustration-image">
              <div class="swiper mySwiper slider-wrapper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <img src="/src/images/barzini-mou.jpg" alt="mesin kopi" />
                  </div>
                  <div class="swiper-slide">
                    <img src="/src/images/barzini-mou.jpg" alt="mesin kopi" />
                  </div>
                  <div class="swiper-slide">
                    <img src="/src/images/barzini-mou.jpg" alt="mesin kopi" />
                  </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
              </div>
              <h2 class="title">Mesin Kopi Kapsul</h2>
            </div>
            <div class="text-button-wrapper">
              <p class="text">
                Apakah Anda membutuhkan mesin kopi super otomatis, semi otomatis
                atau mesin single serve? Hotel, restoran, cafe maupun kantor,
                dapat kami penuhi!
              </p>
              <a href="/view/coffee-machine.html" class="button">Lihat Selengkapnya</a>
            </div>
          </div>
          <div class="our-service-card">
            <div class="illustration-image">
              <div class="swiper mySwiper slider-wrapper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <img src="/src/images/72.jpg" alt="kopi kapsul" />
                  </div>
                  <div class="swiper-slide">
                    <img src="/src/images/72.jpg" alt="kopi kapsul" />
                  </div>
                  <div class="swiper-slide">
                    <img src="/src/images/72.jpg" alt="kopi kapsul" />
                  </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
              </div>
              <h2 class="title">Kopi Kapsul</h2>
            </div>
            <div class="text-button-wrapper">
              <p class="text">
                Dari kopi autentik Italia hingga Premium Cold Brew, kami membawa
                berbagai jenis kopi yang enak dan berkualitas tinggi yang akan
                membuat setiap pelanggan puas.
              </p>
              <a href="/view/coffee.html" class="button">Lihat Selengkapnya</a>
            </div>
          </div>
        </div>
        <!-- -- -->

        <!-- for desktop -->
        <div class="our-service-list-slider">
          <div class="our-service-slide">
            <div>
              <h2 class="title">Mesin Kopi Kapsul</h2>
              <div class="illustration-image">
                <div class="swiper mySwiper slider-wrapper">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <img src="/src/images/barzini-mou.jpg" alt="kopi kapsul" />
                    </div>
                    <div class="swiper-slide">
                      <img src="/src/images/barzini-mou.jpg" alt="kopi kapsul" />
                    </div>
                    <div class="swiper-slide">
                      <img src="/src/images/barzini-mou.jpg" alt="kopi kapsul" />
                    </div>
                  </div>
                  <div class="swiper-button-next"></div>
                  <div class="swiper-button-prev"></div>
                  <div class="swiper-pagination"></div>
                </div>
              </div>
            </div>
            <div class="text-button-wrapper">
              <p class="text">
                Apakah Anda membutuhkan mesin kopi super otomatis, semi otomatis
                atau mesin single serve? Hotel, restoran, cafe maupun kantor,
                dapat kami penuhi!
              </p>
              <a href="/view/coffee-machine.html" class="button">Lihat Selengkapnya ></a>
            </div>
          </div>
          <div class="our-service-slide">
            <div>
              <h2 class="title">Kopi Kapsul</h2>
              <div class="illustration-image">
                <div class="swiper mySwiper slider-wrapper">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <img src="/src/images/72.jpg" alt="kopi kapsul" />
                    </div>
                    <div class="swiper-slide">
                      <img src="/src/images/72.jpg" alt="kopi kapsul" />
                    </div>
                    <div class="swiper-slide">
                      <img src="/src/images/72.jpg" alt="kopi kapsul" />
                    </div>
                  </div>
                  <div class="swiper-button-next"></div>
                  <div class="swiper-button-prev"></div>
                  <div class="swiper-pagination"></div>
                </div>
              </div>
            </div>
            <div class="text-button-wrapper">
              <p class="text">
                Dari kopi autentik Italia hingga Premium Cold Brew, kami membawa
                berbagai jenis kopi yang enak dan berkualitas tinggi yang akan
                membuat setiap pelanggan puas.
              </p>
              <a href="/view/coffee.html" class="button">Lihat Selengkapnya ></a>
            </div>
          </div>
        </div>
        <!-- --  -->

        <!-- <div class="new-product">
          <h2 class="title">Produk Baru</h2>
          <div class="new-product-card-wrapper">
            <div class="image-wrapper-desktop">
              <div class="offset-bg">
                <img src="/src/images/new-product.png" alt="produk baru" />
              </div>
            </div>
            <div class="new-product-card">
              <div class="image-wrapper-mobile">
                <img src="/src/images/new-product.png" alt="produk baru" />
              </div>
              <div class="product-detail">
                <div class="title">ULKA Mesin Pompa Kopi Italia 4 Cup</div>
                <div class="product-description">
                  850 watt, 2-15Bar atau 20Bar pompa tekanan tinggi, 4-dapat
                  membuat kopi atau uap nyaman, 5-1.5L dilepas tangki air
                  transparan, dengan meter tekanan di bagian depan untuk
                  menunjukkan suhu, dengan safety valve dapat melepaskan tekanan
                  secara otomatis, Die-casting aluminium alloy boiler
                </div>
                <div class="button">Beli</div>
              </div>
            </div>
          </div>
        </div> -->
      </div>
      <nav class="bottom-nav">
        <a href="#" class="nav-item active" id="index-page">
          <div class="img-wrapper">
            <img src="/src/images/home.png" alt="beranda" />
          </div>
          <div class="title">Beranda</div>
        </a>
        <a href="#" class="nav-item" id="coffee-page">
          <div class="img-wrapper">
            <img
              src="/src/images/coffee-pack.png"
              alt="beranda"
              style="opacity: 0.6"
            />
          </div>
          <div class="title">Kopi</div>
        </a>
        <a href="#" class="nav-item" id="coffee-machine-page">
          <div class="img-wrapper">
            <img src="/src/images/coffee-machine.png" alt="beranda" />
          </div>
          <div class="title">Mesin Kopi</div>
        </a>
      </nav>
    </main>
    <div id="side-drawer">
      <div class="drawer-left">
        <div class="drawer-logo">
          <img src="/src/images/blue-logo.jpg" alt="logo" />
        </div>
        <div class="menu-list">
          <a class="menu-item" href="/view/about-us.html">Tentang Kami</a>
          <a class="menu-item" href="/view/contact.html">Kontak</a>
          <a class="menu-item" href="/view/shipping.html">Pengiriman</a>
        </div>
      </div>
      <div class="drawer-right">a</div>
    </div>
    <footer tabindex="0">
      <div class="footer-content container-coffee">
        <div class="footer-section">
          <div class="footer-title">PT KTI</div>
          <div class="footer-content-text">
            Talavera Office Park Lantai 28, Jl. TB Simatupang Kav. 22-23, RT1/RW 1,
            Cilandak, Jakarta Selatan, Daerah Istimewa Ibukota Jakarta 12430
          </div>
        </div>
        <div class="footer-section">
          <div class="footer-title">Pengiriman</div>
          <div class="footer-content-text icon-grid">
            <img src="/src/images/footer/jne.png" alt="jne" />
            <img src="/src/images/footer/jnt.png" alt="jnt" />
            <img src="/src/images/footer/grab-express.png" alt="grab" />
            <img src="/src/images/footer/gosend.png" alt="gosend" />
            <img src="/src/images/footer/pos-indonesia.png" alt="pos" />
          </div>
        </div>
        <div class="footer-section">
          <div class="footer-title">Pembayaran</div>
          <div class="footer-content-text icon-grid">
            <img src="/src/images/footer/bca.png" alt="bca" />
            <img src="/src/images/footer/bni.png" alt="bni" />
            <img src="/src/images/footer/bri.png" alt="bri" />
            <img src="/src/images/footer/mandiri.png" alt="mandiri" />
          </div>
        </div>
        <div class="footer-section">
          <div class="footer-title">Contact us</div>
          <div>
            <div class="footer-content-text sub-bold">
              <span class="bold">Telp:</span>
              <span>+62 8131-0931-008</span>
            </div>
            <div class="footer-content-text sub-bold">
              <span class="bold">Email:</span>
              <span>info@ptkti.id</span>
            </div>
            <div class="footer-content-text sub-bold working-hour">
              <span class="bold">Jam Pelayanan:</span>
              <div>Senin - Jumat</div>
              <div>(08.00 - 18.00 WIB)</div>
            </div>
            <div class="footer-content-text sub-bold">
              <span class="bold">Sosial Media</span>
              <div class="social-media-kti">
                <a href="#">
                  <img src="/src/images/footer/instagram.png" alt=" " />
                </a>
                <a href="#">
                  <img src="/src/images/footer/facebook.png" alt=" " />
                </a>
                <a href="#">
                  <img src="/src/images/footer/twitter.png" alt=" " />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="copyright">
        <div class="container-coffee">
          <div>
            © <span class="year"></span> Kleijn Trading Indonesia. All rights reserved.
          </div>
        </div>
      </div>
    </footer>
    <script type="text/javascript" src="/src/scripts/scripts.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
      var swiper = new Swiper(".mySwiper", {
        slidesPerView: 1,
        spaceBetween: 30,
        loop: true,
        pagination: {
          el: ".swiper-pagination",
          clickable: true
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev"
        }
      });
    </script>
  </body>
</html>
